<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/html5-reset.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/admin.css" />
</head>
<body class="admin">

  <%= yield %>
  
</body>
</html>