<!doctype html>
<html>
<head>
  <title><%= yield_content :title %></title>
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  <script src="/js/main.js"></script>
  
  <% yield_content :head %>
</head>
<body class="admin">
  
  <section class="sidebar left">
    <% yield_content :sidebar_left %>
  </section>
  
  <section class="sidebar right">
    <% yield_content :sidebar_right %>
  </section>
  
  <%= styled_flash %>
  
  <%= yield %>
  
  <section class="footer left">
    <% yield_content :footer_left %>
  </section>
  
  <section class="footer right">
    <% yield_content :footer_right %>
  </section>
  
</body>
</html>