<% content_for(:title) { "New Post" } %>

<article>
  <form action="/admin/posts/" method="post">
    <input type="text" class="title" name="post[title]" placeholder="title" />
    <textarea class="body" name="post[body]"></textarea>
    
    <input type="submit" name="submit" value="Create draft" />
  </form>
</article>