/todo*

/importers/blog0/comments/
/importers/blog0/entries/
/importers/blog0/*.csv
/importers/blog1/comments/
/importers/blog1/archives/
/importers/blog2/*.sql
/importers/blog3/*.sql
/importers/twitter/*.json

/other/mocks/*.mp3
/other/mocks/*.ogg
/public/*.mp3
/public/assets

/config/config.yml
/vendor/gems
/vendor/bundle
/config.ru
/tmp
/.bundle
/logs
*.pyc

# google webmaster tools verification file
/public/google*.html

*.kate-swp

/unicorn.pid
/unicorn.rb
