/importers/blog1/
/importers/blog2/*.sql
/importers/blog3/*.sql
/other/mocks/*.mp3
/other/mocks/*.ogg
/public/*.mp3

/config/config.yml
/vendor/gems
/vendor/bundle
/config.ru
/tmp
/.bundle
/logs

# google webmaster tools verification file
/public/google*.html

*.kate-swp
