/todo*

/importers/sunlight
/importers/blog0/comments/
/importers/blog0/entries/
/importers/blog0/*.csv
/importers/blog1/comments/
/importers/blog1/archives/
/importers/blog2/*.sql
/importers/blog3/*.sql
/importers/twitter/*.json

/public/*.mp3
/public/assets
/public/sitemap

/config/config.yml
/vendor/gems
/config.ru
/.bundle
/logs
/log
*.pyc

/unicorn.pid
/unicorn.rb

/.python-version
