<ul>
  <% posts.each do |post| %>
    <li>
      <article>
        <%= post_header post %>
        <%= post_body post %>
      </article>
    </li>
    <% if post != posts.last %>
      <hr />
    <% end %>
  <% end %>
</ul>