<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title><% yield_content :title %></title>
  
  <link rel="stylesheet" href="/stylesheets/html5-reset.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="Posts (RSS)" />
  
  <!--[if lt IE 9]><script src="/javascripts/html5.js"></script><![endif]-->
  
  <script src="/javascripts/jquery-1.4.4.min.js"></script>
  <script src="/javascripts/jquery.placehold-0.3.min.js"></script>
  
  <script src="/javascripts/main.js"></script>
</head>

<body>

  <header>
    <h1>cytokine storm</h1>
  </header>

  <%= yield %>

  <footer>
    <hr/>
    <p>
      <a href="mailto:kprojection@gmail.com">Eric Mill</a>, Washington DC, 617-314-0966. Everything written under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.
    </p>
  </footer>
  
</body>
</html>