<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title><% yield_content :title %></title>
  <meta name="description" content="<% yield_content :description %>" />
  <meta name="author" content="Eric Mill" />
  <meta name="copyright" content="2005-<%= Time.now.year %>" />
  
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://klondike.myopenid.com/" />
  
  <link rel="stylesheet" href="/stylesheets/html5-reset.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="Posts (RSS)" />
  
  <!--[if lt IE 9]><script src="/javascripts/html5.js"></script><![endif]-->
  
  <script src="/javascripts/jquery-1.4.4.min.js"></script>
  <script src="/javascripts/jquery.placehold-0.3.min.js"></script>
  
  <script src="/javascripts/main.js"></script>
</head>

<body>

  <header>
    <h1>
      Mill Industries
    </h1>
  </header>
  
  <section class="sidebar left">
    <% yield_content :sidebar_left %>
  </section>

  <section class="sidebar right">
    <% yield_content :sidebar_right %>
    <a href="/">&raquo; everything else </a>
  </section>

  <%= yield %>

  <footer>
    <hr/>
    <p>
      <cite><a href="mailto:kprojection@gmail.com">Eric Mill</a></cite>, Washington DC, 617-314-0966. Everything written under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.
    </p>
  </footer>
  
</body>
</html>