/** main **/

body {padding: 20px 0;}

main, #flash .flash {
  width: 700px;
  margin: 0px auto;
}

#flash {
  padding: 12px;
  background-color: #eee; border-bottom: 1px solid #aaa;
  position: fixed; top: 0;
  width: 100%;
  font-size: 14pt;
  
}
#flash .flash {vertical-align: middle;}
#flash .success {color: #282;}
#flash .failure {color: #822;}
#flash .info {}

/** listing **/

nav.posts {margin-bottom: 10px;}
nav.posts a, nav.posts div.search input {margin-right: 10px;}
nav.posts a.left {margin-top: 1px; text-decoration: none;}
nav.posts a.left:hover {text-decoration: underline;}
nav.posts a.active {font-weight: bold; color: #444;}
nav.posts div.search {display: inline-block;}
nav.posts div.search input {width: 100px; margin-top: -2px;}

ol.posts li {
  padding: 8px 0px; margin: 0;
  font-size: 12pt;
}

ol.posts li a {color: #444;}
ol.posts.drafts li a {color: #cc0000;}
ol.posts.private li * {color: #aaa;}
ol.posts.flagged li a {color: #228822;}

ol.posts li span.flag {
  margin-left: 4px; padding: 0px 5px; 
  color: #fff; font-size: 8pt; 
  border: 1px solid; border-radius: 4px; 
}
ol.posts li span.flag.draft {background-color: #880000;}
ol.posts li span.flag.private {background-color: #000;}
ol.posts li span.flag.flagged {background-color: #ff0000;}


/** listing comments */

nav.comments {margin-bottom: 5px;}
nav.comments div.controls label.akismet {font-size: 10pt;}
nav.comments div.controls input[type=submit],
nav.comments div.controls button {
  font-size: 12pt; padding: 2px 5px;
}
nav.comments div.controls button {margin-left: 15px;}

nav.comments div.controls,
nav.comments a {display: inline-block;}
nav.comments li.header {margin-top: 14px;}

ol.comments li {padding: 5px 0; margin: 0;}
ol.comments li.shown span.excerpt {color: #888;}
ol.comments li.hidden * {color: #aaa;}

/** post form */

fieldset {
  display: block;
  margin-top: 20px;
}

span.state {float: right; margin-top: 10px;}
span.state.published {color: #900;}
span.state.draft {color: #777;}

div.cheat {}
div.cheat h3 {}

input[type="text"].big, input[type="password"].big {
  font-size: 14pt;
  padding: 10px 10px 10px 8px;
  margin: 10px 0;
}

input[type="text"].small {
  font-size: 10pt;
  padding: 5px;
}

fieldset {position: relative;}

input[type="text"].small.slug {
  margin-left: 20px;
  position: absolute; right: 0;
}

input.title {
  width: 100%;
}

input[type="checkbox"] {
  margin-left: 10px;
}

textarea.excerpt,
textarea.body {font-family: "Georgia", serif;}

textarea.excerpt {
  height: 90px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
  margin: 10px 0;
}

textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
}

textarea.comment.body {
  height: 200px;
}

input[type="submit"] {
  font-size: 14pt;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}

span.divider {
  margin-right: 10px;
  font-size: 14pt;
}

a.visit {
  float: right;
  font-size: 14pt;
  margin-top: 13px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
}

a.visit.published {
  border-color: #336699;
  background-color: #224466;
  color: #fff;
}

a.visit.preview {
  border-color: #666666;
  background-color: #444444;
  color: #fff;
}

ol.errors {font-size: 12pt;}
ol.errors li {margin: 5px 0; padding: 0; color: #a00;}

/** post form - cheat area **/

div.cheat {text-align: left;}
div.cheat h3 {font-size: 10pt;}
div.cheat textarea {width: 200px; height: 35px; margin: 10px 0; padding: 2 5px;}