/** main **/

body {padding: 20px 0;}

div.main, #flash .flash {
  width: 700px;
  margin: 0px auto;
}

#flash {
  padding: 12px;
  background-color: #eee; border-bottom: 1px solid #aaa;
  position: fixed; top: 0;
  width: 100%;
  font-size: 14pt;
  
}
#flash .flash {vertical-align: middle;}
#flash .success {color: #282;}
#flash .failure {color: #822;}
#flash .info {}

/** listing **/

nav.posts {margin-bottom: 10px;}
nav.posts a, nav.posts div.search input {margin-right: 10px;}
nav.posts a.left {margin-top: 1px; text-decoration: none;}
nav.posts a.left:hover {text-decoration: underline;}
nav.posts a.active {font-weight: bold; color: #444;}
nav.posts div.search {display: inline-block;}
nav.posts div.search input {width: 100px; margin-top: -2px;}

ol.posts li {
  padding: 3px 0px; margin: 0;
  font-size: 12pt;
  line-height: 25px;
}

ol.posts li a {color: #444;}
ol.posts.drafts li a {color: #cc0000;}
ol.posts.private li * {color: #aaa;}
ol.posts.flagged li a {color: #228822;}

ol.posts li span.flag {
  margin-left: 4px; padding: 0px 5px; 
  font-size: 8pt; 
  border: 1px solid; border-radius: 4px; 
}
ol.posts li span.flag.count {color: #444;}
ol.posts li span.flag.draft {background-color: #880000; color: #fff;}
ol.posts li span.flag.private {background-color: #000; color: #fff;}
ol.posts li span.flag.flagged {background-color: #ff0000; color: #fff;}

ol.posts li span.tag {color: #888;}

/** listing comments */

nav.comments {margin-bottom: 5px;}
nav.comments div.controls label.akismet {font-size: 10pt;}
nav.comments div.controls input[type=submit],
nav.comments div.controls button {
  font-size: 12pt; padding: 2px 5px;
}
nav.comments div.controls button {margin-left: 15px;}

nav.comments div.controls,
nav.comments a {display: inline-block;}
nav.comments li.header {margin-top: 14px;}

ol.comments li {padding: 5px 0; margin: 0;}
ol.comments li.shown span.excerpt {color: #888;}
ol.comments li.hidden * {color: #aaa;}

/** post form */

input[type="text"].big, input[type="password"].big {
  font-size: 14pt;
  padding: 10px 10px 10px 8px;
  margin: 10px 0;
}

input.title.big {width: 100%; margin-bottom: 0;}

fieldset {
  position: relative;
  display: block;
  margin-top: 20px;
}

input[type="text"].small {font-size: 10pt; padding: 5px;}
input[type="text"].small.slug {width: 200px;}
input[type="text"].small.tags {width: 200px; margin-left: 10px;}
input[type="text"].small.version {width: 200px; margin-left: 10px;}

textarea.excerpt,
textarea.body {font-family: "Georgia", serif;}

textarea.excerpt {
  height: 83px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
  margin-top: 10px;
}

textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
  margin-top: 10px;
}

textarea.comment.body {
  height: 200px;
}

ol.errors {font-size: 12pt;}
ol.errors li {margin: 5px 0; padding: 0; color: #a00;}

/** post form - cheat area **/

section.cheat {}
section.cheat * {color: #888;}
section.cheat h3 {font-size: 10pt;}
section.cheat span {font-size: 10pt; line-height: 25px;}
section.cheat textarea {width: 200px; height: 35px; margin: 10px 0; padding: 2 5px;}

/** post form - controls right hand **/

section.controls {}
section.controls input[type="submit"],
section.controls button.preview,
input.create {
  font-size: 10pt;
  padding: 3px 10px;
  margin: 5px 0px;
  display: block;
}

section.controls input.update {font-weight: bold; margin-bottom: 10px;}
section.controls button.preview {margin-bottom: 20px;}

input.create {font-size: 12pt;}

section.controls a.visit {
  display: inline-block;
  margin-top: 20px;
  font-size: 14pt;
}

section.controls a.visit.private {color: #444;}

section.controls a.delete {
  display: inline-block; 
  margin-bottom: 10px;
  font-size: 10pt; color: #888;
}

section.controls span.state {display: block; font-size: 10pt; margin: 10px 0;}
section.controls span.state.status {padding: 10px 0;}
section.controls span.state.published {padding-top: 10px}
section.controls span.state.draft {color: #900; padding-top: 10px}

ul.versions, ul.versions li {list-style-type: none;}
ul.versions {margin-top: 20px;}
ul.versions h5 {margin-bottom: 5px; font-size: 10pt;}
ul.versions li {margin-bottom: 5px; font-size: 10pt;}
ul.versions li .because {margin-left: 5px; color: #888;}

/* comment form */

article.comment input.big {width: 180px; margin-right: 10px;}