/** main **/

body.admin {padding: 10px 0;}

body.admin section.admin {
  width: 700px;
  margin: 0px auto;
}


/** post form */

body.admin fieldset {
  display: block;
  margin-top: 20px;
}

body.admin span.state {float: right; margin-top: 10px;}
body.admin span.state.published {color: #900;}
body.admin span.state.draft {color: #777;}

body.admin div.cheat {}
body.admin div.cheat h3 {}

body.admin input[type="text"].big, body.admin input[type="password"].big {
  font-size: 14pt;
  padding: 10px 10px 10px 8px;
  margin: 10px 0;
}

body.admin input[type="text"].small {
  font-size: 10pt;
  padding: 5px;
}

body.admin fieldset {position: relative;}

body.admin input[type="text"].small.slug {
  margin-left: 20px;
  position: absolute; right: 0;
}

body.admin input.title {
  width: 100%;
}

body.admin input[type="checkbox"] {
  margin-left: 10px;
}

body.admin textarea.excerpt {
  height: 90px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
  margin: 10px 0;
}

body.admin textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
}

body.admin textarea.comment.body {
  height: 200px;
}

body.admin input[type="submit"] {
  font-size: 14pt;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}

body.admin span.divider {
  margin-right: 10px;
  font-size: 14pt;
}

body.admin a.visit {
  float: right;
  font-size: 14pt;
  margin-top: 13px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
}

body.admin a.visit.published {
  border-color: #336699;
  background-color: #224466;
  color: #fff;
}

body.admin a.visit.preview {
  border-color: #666666;
  background-color: #444444;
  color: #fff;
}


/** errors and flash **/

body.admin h1 {font-size: 18pt; margin: 5px 0;}
body.admin p.error {color: #a00;}

body.admin ol.errors {font-size: 12pt;}
body.admin ol.errors li {margin: 5px 0; padding: 0; color: #a00;}

body.admin #flash {
  background-color: #e5e5e5; 
  padding: 1px 15px;
}
body.admin #flash .success {color: #060;}
body.admin #flash .failure {color: #600;}
body.admin #flash .info {}



/** listing **/

body.admin p.none {
  width: 700px; margin: 0 auto; 
  padding-bottom: 50px; padding-top: 10px;
}

body.admin ol.listing {
  font-size: 12pt;
  list-style-type: none;
}

body.admin ol.listing li.header {
  border-bottom: 3px double #888;
  padding: 10px 10px;
  margin: 0;
}

body.admin ol.listing li.comment {
  border-bottom: 1px solid #888;
  padding: 10px 10px;
  margin: 0;
}

body.admin ol.listing li.comment:hover {
  background-color: #e5e5dd;
  cursor: pointer;
}
body.admin ol.listing li.comment:hover a {text-decoration: underline;}

body.admin ol.listing li.comment span.excerpt {
  color: #888;
}

body.admin ol.listing li.comment span.flags {
  margin-left: 10px;
  float: right;
  vertical-align: center;
}

body.admin ol.listing li.comment time {
  float: right;
  margin-left: 10px;
}

body.admin ol.listing li span.flags.hidden {color: #880000;}
body.admin ol.listing li span.flags.draft {color: #880000;}
body.admin ol.listing li span.flags.private {color: #000088;}