body, header.main, section.blackout, footer.main {
  background-color: #131313;
  color: white;
}

a {color: rgb(18, 121, 216);}

section.blackout {
  margin-top: -24px;
}

.blackout article header h1 {
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

.blackout article header h1 a {color: white;}

.blackout article p {
  margin-top: 10px; margin-bottom: 10px;
}

.blackout article header,
.blackout ol {
  width: 650px; margin: 0 auto;
}

.blackout article header {
  margin-bottom: 10px;
}

/* center that canvas */
.blackout article canvas,
.blackout article .canvas {
  margin: 0 auto; display: block;
}

/*.blackout ol, .blackout ol li {list-style-type: decimal;}*/