.games {font-family: "Average", "Georgia", serif;}

.games .game,
.games header {width: 650px; margin: 0 auto;}
.games header p {font-size: 12pt; margin: 10px 0;}

.games .game {margin-top: 40px; margin-bottom: 60px;}

.games .game figure img {width: 650px;}

/* font sizes */

.games .game h2 {font-size: 34pt;}
.games .game h3 {font-size: 16pt;}
.games .game p {font-size: 13pt; line-height: 27px;}
.games .game dl {font-size: 11pt; line-height: 27px;}

.games .game h2 a {text-decoration: none;}
.games .game h2 a:hover {text-decoration: underline;}
.games .game dl dd,
.games .game dl dt {display: inline;}

.games .game h2 {margin: 0px 0 13px 0;}
.games .game figure {margin: 18px 0 13px 0;}
.games .game h3 {display: none;}
.games .game dl {font-style: italic; margin-top: 7px;}

.games .game dl a.music {font-size: 14pt; text-decoration: none;}
.games .game dl a.music:hover {text-decoration: underline;}
