

body {
  font-size: 12pt;
  line-height: 28px;
}

body * {
  font-family: "Lato", "Open Sans", Arial, sans-serif;
}

.sidebar .inner {
  margin: 0px 10px;
}
.sidebar img {width: 100%;}
.sidebar figure {margin: 0;}
.sidebar ul li {
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}

article p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 20px;
}

article p a {font-weight: normal;}

article p.me {
  font-family: "Lato", "Open Sans", Arial, sans-serif;
}


@media (min-width: 769px) {

  body {
    padding: 5%;
  }

  .sidebar ul li {
    line-height: 48px;
    font-size: 18pt;
  }

  article p.me {
    font-size: 24pt;
    line-height: 42px;
  }

  .sidebar img {
    padding-top: 3%;
  }
}

@media (max-width: 768px) {

  body {
    padding: 1%;
  }

  .sidebar img {
    padding-top: 7%;
  }

  .sidebar ul li {
    line-height: 28px;
    font-size: 12pt;
  }

  article p.me {
    font-size: 18pt;
    line-height: 32px;
  }

}


/** colors **/

body {background-color: #f5f5f5;}
body {color: #151515;}
a {color: rgb(0, 53, 102);}

ul, ol, li {list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}


h1 {font-size: 48pt;}
