/* Fonts */
/*body,
article h2,*/
/*article header,*/
article.small time,
article.small h1,
input, textarea {font-family: "Open Sans", Arial, sans-serif;}


header.main,
article,
#comments li p {font-family: "Georgia", serif;}

/** Extra reset **/
ul, ol, li {list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
input.placeholder, textarea.placeholder {color: #999;} /* CSS class only used for HTML5 fallback */


/********* Colors ******/

/* backgrounds */
body {background-color: #fafafa;}

/* main text */
body {color: #151515;}

/* links */
a {
  color: rgb(0, 53, 102);
}

/* faded color (e.g. quotes) */
article blockquote,
article pre,
footer.main {color: #555;}
article header time,
article.small time {color: #808080;}
article small time {color: #777;}

/* code/pre */
article code {
  background-color: #eaeaff;
  font-size: 10pt;
  font-family: monospace;
}

/* post title, separator */
article header h1 a,
article.small h1 a,
article h2,
#comments li header time,
#comments li header span,
#comments li header span a {
  color: #444
}

article header h2 {
  color: #444;
  padding-top: 0px;
  font-weight: normal;
}

hr {border-color: rgb(0, 53, 102)}

/* any anchor gets offset by 100px to accommodate fixed header */
.anchor {top: -70px; position: relative; display: block; visibility: hidden;}

header.main,
header.main a {color: #fff;}

header.main {
  z-index: 1000;
  background-color: rgb(0, 53, 102);
}

/* error text(?) */
#comment-form p {color: #990000;}



/* Link decoration */

header.main a {text-decoration: none;}
header.main a:hover {text-decoration: underline;}
article h1 a, article h2 a {text-decoration: none;}
article h1 a:hover, article h2 a:hover {text-decoration: underline;}



/********** Font sizes *************/

header.main    {font-size: 12pt;} /* main header */
footer.main    {font-size: 10pt;} /* main footer */

article header h1,
article header time  {font-size: 26pt; line-height: 55px;} /* article title */
article header time .admin {font-size: 12pt;}

article sup {font-size: 8pt;}

article p,
article pre   {font-size: 12pt; line-height: 27px;} /* article text */

article blockquote,
article blockquote p,
article blockquote ul, article blockquote ol,
article blockquote ul li, article blockquote ol li,
article blockquote * {font-size: 11pt; line-height: 21px;}

article ol li,
article ul li        {font-size: 12pt; line-height: 25px;} /* article lists */
article h2 {font-size: 16pt; line-height: 35px; letter-spacing: 0px;}
article h3 {font-size: 18pt;}                     /* article audio */
article h4 {font-size: 12pt; line-height: 22px;}  /* article audio */
article p.comments a {font-size: 11pt;} /* link to comments page */

article small {
  font-size: 9pt;
  line-height: 20px;
} /* aside text */
article .unpublished {font-size: 10pt; line-height: 20px;}

#comments li header span {font-size: 14pt;} /* comment name */
#comments li header time {font-size: 14pt;} /* comment date */
#comments li p           {font-size: 12pt;} /* comment text */

#comment-form span          {font-size: 14pt; display: block; margin-bottom: 20px;}
#comment-form form input    {font-size: 14pt;} /* comment form */
#comment-form form textarea {font-size: 12pt;} /* comment form */

/** Main structure - center and width **/

header.main .inner,
footer.main,
article p,
article header,
article ol, article ul, article li,
article pre,
article h2,
article h3, article h4, article h5, article h6,
article iframe.youtube,
#comment-form,
#comments {width: 700px;}

article .body h2 {
  margin-top: 30px;
  font-weight: normal;
} article .body h2 .block {
  display: inline-block;
  background-color: rgb(0, 53, 102);
  padding: 4px;
  margin-bottom: 3px; margin-left: -24px;
  margin-right: 16px;
} article .body h2:hover .block {
  xbackground-color: rgb(54, 150, 238);
}

article iframe.youtube {height: 394px;}

hr {width: 375px;}
article blockquote {
  padding: 0 20px;
  border-left: 1px solid #888;
}
article blockquote,
article blockquote p {width: 600px;}

header.main .inner,
footer.main,
div.main,
article *,
hr,
#comment-form,
#comments {
  margin: 0 auto;
}

article div.image.strip {
  background-position-y: center;
  background-size: cover;
  margin-top: 20px; margin-bottom: 20px;
  width: 100%;
}

/* center those tough-to-center elements */
article div.container {text-align: center;}
article canvas,
article img {display: inline;}

/* handle gists, which embed inline, interestingly enough */

article div.gist {width: 700px;}
article div.gist-data {padding: 0px;}
article div.gist p,
article div.gist li {width: 640px;}
article div.gist ul,
article div.gist ol {padding: 0 20px;}

/* things to the left and right of center */
.left, .right {
  width: 220px;
}
.left {float: left; margin-left: -260px; padding-left: 0px; text-align: right;}
.right {float: right; margin-right: -260px; padding-right: 0px;}

/* if in an article, pad it */
article .left,
article .right {padding: 5px 0px;}

article time.left {padding-top: 0;}
article .unpublished {padding-top: 10px;}

article sup {margin-left: -3px; margin-top: -3px; vertical-align: 10%;}
article small span {margin-right: 3px;}


/** front page - post index **/

article.index.first {margin-bottom: 70px;}
article.small {margin-bottom: 25px;}

/* hide small asides from excerpts */
article.index small.left,
article.index small.right {xdisplay: none;}

article.small div.inner {width: 700px; margin: 0 auto;}
article.small p,
article.small h1 {display: inline-block;}
article.small h1 a {text-decoration: underline;}
article.small p {width: inherit;}
article.small time,
article.small h1 {font-size: 16pt; line-height: 30px;}
article.small span.excerpt {
  color: #555; font-size: 12pt;
  line-height: 30px;
  margin-left: 5px;
}

/** Main structure - everything else **/

body {
  min-width: 1000px;
  padding: 0; margin: 0;
}

header.main {
  width: 100%;
  padding: 15px 0; height: 16px;
  position: fixed; top: 0; left: 0;
}

header.main .inner.me {display: block;}
header.main .inner.me a.left {display: block; text-decoration: none; }
header.main .inner.me a.left .arrow {display: inline-block; margin-right: 7px;}
header.main .inner.me p,
header.main .inner.me ul,
header.main .inner.me li {display: inline-block;}
header.main .inner.me li a {
  padding: 15px 20px 15px 0;
  text-transform: uppercase; text-decoration: none;
  color: #aaa;
}
header.main .inner.me li a.active,
header.main .inner.me li a:hover {color: #fff;}

header.main .inner.me .right a,
header.main .inner.me .right span {
  display: inline-block;
}

header.main .inner.me .right a.feed {
  background-image: url(/images/feed-16.png);
  background-size: 16px 16px;
  background-position: 0 -1px;
  background-repeat: no-repeat;
  padding-left: 24px;
  margin-right: 16px;
}

header.main .inner.me .right span.twitter {margin-right: 0px;}
header.main .inner.me .right a.twitter {margin-right: 16px;}

header.main .inner.me .right span.email {margin-right: 0px;}

header.main .inner.article {display: none;}
header.main .inner.article a.left {text-decoration: none;}
header.main .inner.article h1 {display: inline-block;}
header.main .inner.article a.right {display: block; text-decoration: none;}
header.main .inner.article a.right .arrow {display: inline-block; margin-right: 7px;}

div.main {margin-top: 100px;}
article {margin-bottom: 40px;}

hr {
  clear: both;
  margin-top: 70px;
  margin-bottom: 70px;
}

/** Footer */

footer.main p {
  text-align: center;
  margin-top: 50px;
  padding: 30px 0;
}

/* Regular posts */

article header {margin-bottom: 20px;}

article p {margin-top: 20px; margin-bottom: 20px;}
article p a {text-decoration: underline;}

article ol, article ul {list-style-position: outside;}
article blockquote ul, article blockquote ol,
article blockquote ul li, article blockquote ol li {list-style-position: inside;}
article ul, article ul li {list-style-type: disc;}
article ol, article ol li {list-style-type: decimal;}
article ol li, article ul li {margin-top: 7px; margin-bottom: 7px;}

article pre {
  white-space: pre-wrap;
  font-family: inherit;
}

article code {padding: 2px;}


/* Comment display */

#comments {list-style-type: none;}
#comments li {margin: 50px 0;}
#comments li.hidden {background-color: #e5e5e5;}
#comments li.hidden span.hidden {color: #a00;}

#comments li header span {}
#comments li header a {text-decoration: underline;}

#comments li p {
  line-height: 25px;
  margin: 20px 0;
}


/* Comment form */

#comment-form p {
  margin-bottom: 10px;
}

#comment-form form>input {
  margin-bottom: 15px; padding: 5px;
  width: 200px; margin-right: 5px;
}

#comment-form form textarea {
  clear: both; display: block;
  width: 100%; height: 100px;
  padding: 5px;
}

#comment-form form textarea+input {
  display: block;
  padding: 4px 20px 1px 20px;
  margin-top: 10px;
}

/* Error stuff */

.error {width: 700px; margin: 0 auto;}
.error h1 {font-size: 100pt;}
.error h1 a {color: #151515; text-decoration: none}
.error p {margin-top: 50px; font-size: 20pt; line-height: 45px;}