/** Main structure - center and width **/

header.main .inner,
header.main .inner ul,
footer.main,
.error {width: 650px;}

header.main .inner,
header.main,
footer.main,
.error,
div.main {margin: 0 auto;}

/* things to the left and right of center */
.left {width: 220px;}
.right {width: 220px;}
.left {float: left; margin-left: -260px; padding-left: 0px; text-align: right;}
.right {float: right; margin-right: -230px; padding-right: 0px;}

header.main .right {width: 220px;}


/** Main structure - everything else **/

body {
  min-width: 1150px;
  padding: 0; margin: 0;
}

header.main {
  width: 100%;
  min-width: 1150px;
  padding: 15px 0; height: 16px;
  position: fixed; top: 0; left: 0;
}

header.main .inner.me {}

header.main .inner.me {display: block;}
header.main .inner.me a.left {display: block; text-decoration: none; }
header.main .inner.me a.left .arrow {display: inline-block; margin-right: 7px;}
header.main .inner.me p,
header.main .inner.me ul,
header.main .inner.me li {display: inline-block;}
header.main .inner.me li a {
  padding: 15px 20px 15px 0;
  text-transform: uppercase; text-decoration: none;
  color: #aaa;
}
header.main .inner.me li a.active,
header.main .inner.me li a:hover {color: #fff;}

header.main .inner.me .right a,
header.main .inner.me .right span {
  display: inline-block;
}

header.main .inner.me .right a.feed {
  background-image: url(/images/feed-16.png);
  background-size: 12px 12px;
  background-position: 0px 1px;
  background-repeat: no-repeat;
  padding-left: 18px;
  margin-right: 14px;
}

header.main .inner.me .right a.twitter {margin-right: 14px;}
header.main .inner.me .right a.email {margin-right: 14px;}

header.main .inner {display: none;}
header.main .inner a.left {text-decoration: none;}
header.main .inner h1 {display: inline-block; display: none;}


/* frame and any anchor get offset by 70px to accommodate fixed header */
div.main {margin-top: 70px;}
*:target {padding-top: 70px !important;}

article.home p {
  margin-top: 20px; margin-bottom: 20px;
}


/** Footer */

footer.main p {
  text-align: center;
  margin-top: 50px;
  padding: 30px 0;
}


/********* Colors ******/

body {background-color: #f5f5f5;}
body {color: #151515;}
a {color: rgb(0, 53, 102);}

footer.main {color: #555;}

header.main,
header.main a {color: #fff;}
header.main {background-color: rgb(0, 53, 102); z-index: 1000;}

header.main a {text-decoration: none;}
header.main a:hover {text-decoration: underline;}
header.main    {font-size: 13pt;} /* main header */
footer.main    {font-size: 11pt;} /* main footer */

header.main {font-family: "Average", "Georgia", serif;}

/** Extra reset **/
ul, ol, li {list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
input.placeholder, textarea.placeholder {color: #999;} /* CSS class only used for HTML5 fallback */


/* Error stuff */

.error h1 {font-size: 100pt;}
.error h1 a {color: #151515; text-decoration: none}
.error p {margin-top: 50px; font-size: 20pt; line-height: 45px;}


/* mobile view of frame */

@media (max-width: 600px)  {
  body, header.main {
    min-width: 100%;
  }

  .left, .right {display: none;}

  header.main .inner,
  header.main .inner ul,
  footer.main,
  header.main,
  .error {
    width: inherit;
  }

  footer.main {
    font-size: 8pt;
  }

  header.main {
    padding-left: 10px; padding-right: 5px;
    height: inherit;
    line-height: 25px;
  }

  header.main .inner.me li a {
    padding: 5px 7px 5px 0;
    text-transform: uppercase; text-decoration: none;
    color: #aaa;
    font-size: 12pt;
  }

  img.block {width: 100%;}

}