/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body, input, textarea {font-family: "Open Sans", Arial, serif;}

ul, ol, li {list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}

input.placeholder, textarea.placeholder {color: #999;} /* CSS class only used for HTML5 fallback */


/** Colors **/

body {background-color: #0B1E27;}
body {color: #c5c5c5;}
article blockquote {color: #666;}
a {color: #1882BB;}
section.sidebar a.me {color: #c5c5c5;}
article header h1 a.time {color: #444444;}

body {border-color: #369FA1;}
header.main {background-color: #369FA1;}
article header h1 a {color: #369FA1;}
ol#comments li header span {color: #369FA1}
ol#comments li header span a {color: #369FA1}

/* Old colors */
/*body {background-color: #dbdbf5;}*/
/*body {background-color: #ffffff;}*/
/*a {color: #224466;}*/

hr {border-top-color: #369FA1;}
section.sidebar a.me {text-decoration: none;}
section.sidebar a.me:hover {text-decoration: underline;}
footer.main hr {border-top-color: #369FA1;}
article h1 a, article h2 a {text-decoration: none;}
article h1 a:hover, article h2 a:hover {text-decoration: underline;}

/* Font sizes */

body>header h1     {font-size: 24pt;} /* blog title */
article header h1  {font-size: 20pt;} /* article title */
article p, 
article blockquote {font-size: 13pt;} /* article text */ 
article pre        {font-size: 11pt;} /* article text */
ol li header span  {font-size: 14pt;} /* comment name */
ol li header time  {font-size: 11pt;} /* comment date */
ol li p            {font-size: 11pt;} /* comment text */
footer.main        {font-size: 11pt;} /* footer text */
section.sidebar {font-size: 14pt;}

article+ol+section form>input {font-size: 14pt;}
article+ol+section form textarea {font-size: 12pt;}


/** Main structure **/

hr {clear: both;}

body {
  min-width: 1024px; position: relative;
  padding: 0; margin: 0; 
  
  padding-top: 15px;

  border-bottom-width: 15px;
  border-style: solid;
}

header.main {
  position: absolute; top: 0;
  height: 15px; width: 100%;
}

section.main, footer.main {
  width: 700px;
  padding-left: 80px;
  padding-right: 60px;
}

section.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

section.sidebar {
  width: 200px;
  position: absolute;
  top: 0; left: 840px;
  padding-top: 40px;
}

article {margin-bottom: 40px;}
hr {width: 375px; margin: 70px auto;}



/** Sidebar */

section.sidebar h1 {margin: 10px 0 15px 0;}
section.sidebar ul {margin: 35px 0 15px 0;}
section.sidebar ul li {
  margin: 15px 0;
  font-size: 11pt;
}
section.sidebar p {
  color: #666; font-size: 11pt;
  line-height: 20px;
}

/** Footer */

footer.main p {
  text-align: center;
  padding: 30px 0;
}

footer.main hr {
  margin: 70px auto 0 auto;
  border-top-width: 1px;
}


/* Regular posts */

article header {margin-bottom: 20px;}
article header a.time {margin-right: 5px;}

article header h2 {
  margin-top: 6px;
  color: #444;
}

article p {
  line-height: 26px;
  margin: 20px 0;
}

article p a {text-decoration: underline;}
article blockquote {
  padding: 0 30px;
  line-height: 21px;
}

article ol, article ul {list-style-position: outside; margin-left: 20px;}
article ol li, article ul li {
  margin: 10px 0;
  line-height: 27px;
}


article p.comments {
  font-size: 80%; margin-top: 20px;
}

article.idea span.status {
  font-size: 150%;
}

article pre {
  width: 700px; white-space: pre-wrap;
  font-family: inherit;
  line-height: 23px;
  color: #999;
}

article pre blockquote, article blockquote pre {
  font-style: italic;
}

article pre strong {color: #c5c5c5;}

article code {
  background-color: #444; padding: 5px;
}

/* Article permalink page */

article footer {margin-top: 25px;}
article footer hr {
  width: 375px; 
  margin: 50px 0 0px 0;
}

/* Comment display */

ol#comments {list-style-type: none;}
ol#comments li {margin: 50px 0;}

ol#comments li header span {
  float: left; 
  margin-bottom: 20px;
  font-style: normal;
}

ol#comments li header a {text-decoration: underline;}

ol#comments li header time {
  float: right;
  margin-top: 2px;
}

ol#comments li p {
  clear: both;
  line-height: 25px;
  margin: 20px 0;
}

/* Comment form */

ol#comments+section p {
  color: #990000;
  margin-bottom: 10px;
}

ol#comments+section form>input {
  margin-bottom: 15px; margin-right: 10px;
  padding: 5px;
}

ol#comments+section form textarea {
  clear: both; display: block;
  width: 100%; height: 100px;
  padding: 5px;
}

ol#comments+section form textarea+input {
  display: block;
  padding: 4px 20px 1px 20px;
  margin-top: 10px;
  font-size: 12pt;
}






/* Audio */

div.controls a.play, div.controls a.pause {
  display: block; text-indent: -9999em;
  width: 80px; height: 80px;
  margin-right: 0px; 
  margin-bottom: 20px;
  float: left;
}

div.controls a.play {background-image: url(/images/play.png);}
div.controls a.pause {background-image: url(/images/pause.png); display: none;}

h3 {
  font-size: 18pt;
  padding-top: 14px;
}

h4 {
  font-size: 12pt;
  margin-top: 10px;
  line-height: 22px;
}

h3 a:hover, h4 a {text-decoration: underline}

/* first paragraph after an audio block of stuff */
h4+script+p {
  clear: both;
}