
.projects,
.projects ul, .projects li,
.projects span, .projects p,
.projects h1 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #444;
}

.projects .left {font-size: 10pt;}

/*.projects .project {position: relative;}*/
.projects .project h1 a.name {text-decoration: underline; color: #444;}
.projects .project h1 {font-size: 20pt;}

.projects .project h1 a.link {
  margin-left: -230px; margin-top: -4px;
  font-size: 20pt; color: #444; text-decoration: underline;
}
.projects .project a.link:before {content: "";}
.projects .project:hover a.link:before {content: "#";}

.projects .project li {font-size: 10pt;}

.projects .project ul,
.projects .project li {list-style-type: none;}


/** spacing **/

.projects .project {width: 700px; margin: 80px auto;}
.projects .other {width: 700px; margin: 0 auto;}

.projects .project header,
.projects .project ul {
  width: 200px; display: inline-block; vertical-align: top;
}
.projects .project ul li {
  width: 200px;
  line-height: 20px;
  margin-top: 0; margin-bottom: 7px;
}

.projects .project h1,
.projects .project ul {padding: 0 15px;}
.projects .project ul.desc {font-weight: bold;}

.projects .project h1 {line-height: 20px; margin-bottom: 15px;}

.projects .project .icon {
  display: block;
  width: 670px; height: 200px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
}

/* isitchristmas */
.projects .project.isitchristmas .icon {
  background-image: url(/images/projects/isitchristmas.png);
  background-position: center center;
}

.projects .project.unitedstates .icon {
  background-image: url(/images/projects/unitedstates.png);
  background-position: -1px -1px;
}

.projects .project.scout .icon {
  background-image: url(/images/projects/scout.png);
}