
.projects,
.projects ul, .projects li,
.projects span, .projects p,
.projects h1 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #444;
}

.projects .project h1 {font-size: 20pt;}
.projects .project li {font-size: 10pt;}

.projects .project ul,
.projects .project li {list-style-type: none;}


/** spacing **/

.projects .project {width: 700px; margin: 0 auto;}

.projects .project header,
.projects .project ul {
  width: 200px; display: inline-block; vertical-align: top;
} 
.projects .project ul li {
  width: 200px; 
  line-height: 20px;
  margin-top: 0; margin-bottom: 7px;
}

.projects .project h1,
.projects .project ul {padding: 0 15px;}

.projects .project h1 {line-height: 20px; margin-bottom: 15px;}

.projects .project .icon {width: 670px; height: 200px; margin-bottom: 15px;}

/* isitchristmas */
.projects .project.isitchristmas .icon {
  background-image: url(/images/projects/wide.jpg);
}