/* font sizes */

.projects nav ul.big {font-size: 12pt; line-height: 28px;}
.projects nav ul.small {font-size: 10pt; line-height: 24px;}

.projects .project h1 {font-size: 20pt;}
.projects .project.other h1 {font-size: 16pt;}
/*.projects .project h1 a.link {margin-top: -4px; font-size: 20pt;}*/
.projects .project li {font-size: 10pt;}
.projects .project.other p {font-size: 10pt; line-height: 24px;}


.projects,
.projects ul, .projects li,
.projects span, .projects p,
.projects h1 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #444;
}

/* fixed nav */
.projects nav {position: fixed;}
.projects nav a {color: #444;}
.projects nav ul.big span {margin-bottom: 10px; display: block;}
.projects nav ul.small span {margin-top: 20px; margin-bottom: 10px; display: block;}

.projects .project h1 a.name {text-decoration: underline; color: #444;}

.projects .project ul,
.projects .project li {list-style-type: none;}


/** spacing **/

.projects .project {width: 700px; margin: 80px auto;}
.projects header {width: 700px; margin: 0 auto;}
.projects .project.other {margin: 50px auto;}

.projects .project header,
.projects .project ul {
  width: 200px; display: inline-block; vertical-align: top;
}
.projects .project ul li {
  width: 200px;
  line-height: 20px;
  margin-top: 0; margin-bottom: 5px;
}

.projects .project {padding: 0;}
.projects .project ul {padding-right: 30px;}
.projects .project ul.desc {font-weight: bold;}

.projects .project h1 {line-height: 20px; margin-bottom: 15px;}

.projects .project .icon {
  display: block;
  width: 700px; height: 200px;
  margin-bottom: 15px; margin-left: 0;
  border: 1px solid #bbb;
}

.projects .project.fisacourt .icon {
  background-image: url(/images/projects/fisacourt.png);
  height: 356px; width: 699px;
}

.projects .project.isitchristmas .icon {
  background-image: url(/images/projects/isitchristmas.png);
  background-position: center center;
}

.projects .project.unitedstates .icon {
  background-image: url(/images/projects/unitedstates.png);
  background-position: -1px -1px;
}

.projects .project.scout .icon {
  background-image: url(/images/projects/scout.png);
}