<div class="cheat left">

<h3>Full-width image strips</h3>

<textarea wrap="off">
<div style="background-image: url(/assets/images/________); height: ___px;" class="image strip"></div></textarea>

<h3>YouTube videos</h3>

<textarea wrap="off">
<p style="text-align: center"><iframe class="youtube" src="http://www.youtube.com/embed/_______" frameborder="0" allowfullscreen></iframe></p>
</textarea>



</div>

<script type="text/javascript">
  $(function() {
    $("div.cheat textarea").click(function() {
      $(this).select();
    })
  });
</script>