<div class="cheat">

<h3>Full-width image strips</h3>

<code>
&lt;div style="background-image: url(/assets/images/giant.jpg); height: 500px;" class="image strip"&gt;&lt;/div&gt;
</code>

<h3>YouTube videos</h3>

<code>
&lt;center&gt;&lt;iframe class="youtube" src="http://www.youtube.com/embed/e_LcBQuaM1s" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;&lt;/center&gt;
</code>

</div>