
<!--
  for now, requires Chrome extension:
  https://chrome.google.com/webstore/detail/fido-u2f-universal-2nd-fa/pfboblefjcgdjicmnffhdgionmgcdmne
-->
<script src="chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js"></script>

<article>
  <p>
    Okay, hit the button.
  </p>

  <p class="console">
  </p>
</article>

<script>

</script>
