<!doctype html>
<html>
<head>
  <title><%= yield_content :title %></title>
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  
  <% yield_content :head %>
</head>
<body class="admin">
  
  <%= styled_flash %>

  <section class="admin">
    <%= yield %>
  </section>
  
</body>
</html>