<article>
  <form action="/admin/login" method="post">

    <% if message %>
      <p class="error"><%= message %></p>
    <% end %>

    <input type="password" class="big" placeholder="password" name="password" /><br/>
    <input type="submit" name="submit" value="Login" />

  </form>
</article>