<article>
  <form action="/admin/posts" method="post">
    <input type="text" class="big title" name="post[title]" placeholder="title" />

    <textarea class="body" name="post[body]"></textarea>

    <input type="submit" name="submit" class="create" value="Create draft" />
  </form>
</article>