<ol class="posts <%= filter %>">
  <% posts.each do |post| %>
    <li class="post">
      <time class="left">
        <%= short_date post.created_at %>
      </time>

      <a href="/admin/post/<%= post.slug %>">
        <%= h post.title %>
      </a>

      <% if filter == "all" %>
        <% if post.draft? %>
          <span class="flag draft">draft</span>
        <% end %>
        
        <% if post.private? %>
          <span class="flag private">private</span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>