<div class="left">
  <a href="/admin/posts/new">+ new post</a><br/>
  <a href="/admin/comments/">all comments</a><br/>
  <a href="/admin/comments/flagged/">flagged comments</a><br/>
  <a href="/admin/logout">&raquo; logout &laquo;</a><br/>

  <form action="/admin/posts/" method="get">
    <input type="search" name="q" placeholder="search posts" />
  </form>
</div>

<ol class="listing">
  <% posts.each do |post| %>
    <li class="post">
      <time>
        <%= short_date post.created_at %>
      </time>
      
      <a href="/admin/post/<%= post.slug %>">
        <%= h post.title %>
      </a>
    
      <% if post.draft? %>
        <span class="flags draft">draft</span>
      <% end %>

      <% if post.private? %>
        <span class="flags private">private</span>
      <% end %>
    </li>
  <% end %>
</ol>