section.sidebar {margin-top: 10px}

body.admin h1 {font-size: 18pt; margin: 5px 0;}
body.admin p.error {color: #a00;}

body.admin ol.errors {font-size: 12pt;}
body.admin ol.errors li {margin: 5px 0; padding: 0; color: #a00;}

body.admin p.none {
  width: 700px; margin: 0 auto; 
  padding-bottom: 50px; padding-top: 10px;
}

body.admin ol.listing {
  font-size: 12pt;
  list-style-type: none;
}

body.admin ol.listing li {
  padding: 10px 10px;
  border-bottom: 1px solid #888;
  margin: 0;
}

body.admin ol.listing li:hover {
  background-color: #e5e5dd;
  cursor: pointer;
}
body.admin ol.listing li:hover a {text-decoration: underline;}

body.admin ol.listing li span.flags {
  margin-left: 10px;
  float: right;
  vertical-align: center;
}

body.admin ol.listing li span.flags.hidden {color: #880000;}
body.admin ol.listing li span.flags.draft {color: #880000;}
body.admin ol.listing li span.flags.private {color: #000088;}

body.admin input[type="text"].big, body.admin input[type="password"].big {
  font-size: 14pt;
  padding: 10px 10px 10px 8px;
  margin: 10px 0;
}

body.admin input[type="text"].small {
  font-size: 10pt;
  padding: 5px;
}

body.admin input.title {
  width: 100%;
}

body.admin input[type="checkbox"] {
  margin-left: 10px;
}

body.admin textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
}

body.admin textarea.comment.body {
  height: 200px;
}

body.admin input[type="submit"] {
  font-size: 14pt;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}

body.admin a.visit {
  float: right;
  font-size: 14pt;
  margin-top: 13px;
  padding: 5px 10px;
  background-color: #224466;
  color: #fff;
  border: 1px solid #336699;
}

fieldset {
  display: block;
  margin-top: 20px;
}