section.sidebar {margin-top: 10px;}

body.admin ol {
  font-size: 12pt;
}

body.admin ol li {
  padding: 10px 10px;
  border-bottom: 1px solid #888;
  margin: 0;
}

body.admin ol li:hover {
  background-color: #e5e5dd;
  cursor: pointer;
}
body.admin ol li:hover a {text-decoration: underline;}

body.admin ol li span.flags {
  margin-left: 10px;
  float: right;
  vertical-align: center;
}

body.admin ol li span.flags.draft {color: #880000;}
body.admin ol li span.flags.private {color: #000088;}

body.admin input.title {
  width: 100%;
  font-size: 14pt;
  margin: 10px 0;
  padding: 10px 10px 10px 8px;
}

body.admin input.tags {
  font-size: 10pt;
  padding: 5px;
}

body.admin input[type="checkbox"] {
  margin-left: 10px;
}

body.admin textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
}

body.admin input[type="submit"] {
  font-size: 14pt;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}

body.admin a.visit {
  float: right;
  font-size: 14pt;
  margin-top: 13px;
  padding: 5px 10px;
  background-color: #224466;
  color: #fff;
  border: 1px solid #336699;
}

fieldset {
  display: block;
  margin-top: 20px;
}