body.admin textarea.body {
  height: 400px;
  width: 100%;
  font-size: 12pt;
  line-height: 22px;
  padding: 10px;
}

body.admin input[type="text"] {
  font-size: 14pt;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
}

body.admin input[type="submit"] {
  font-size: 14pt;
  padding: 3px 10px;
  margin: 10px 10px 10px 0px;
}

body.admin a.visit {
  float: right;
  font-size: 14pt;
  margin-top: 13px;
  padding: 5px 10px;
  background-color: #224466;
  color: #fff;
}