body {
  padding: 20px;
}

hr {
  border-top-color: #336699;
  clear: both;
}

hr:first-of-type {
  border-top-color: #339966;
  margin-bottom: 40px;
}

article, hr, body>header {
  width: 700px;
  margin: 0 auto;
}

body>header h1, body>header h2 {
  text-align: center;
  font-size: 300%;
  font-weight: normal;
}

body>header {
  margin-bottom: 20px;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  float: right;
  padding: 15px;
}

section h1 a {
  font-size: 150%;
  color: #336699;
}

section h2 a {
  font-size: 80%;
  color: #6699aa;
}