
# root of the site, used in RSS feeds, primarily
site:
  root: http://localhost:8080
  check_spam: # whether to enable spam checking for comments
  session_secret: # some unique string
  local_root: # for internal queries, e.g. http://localhost:8080
  cache_markdown: true

# twitter username and user ID (numeric), for use in Twitter cards
twitter:
  username:
  user_id:

admin:
  password: # admin password
  email: # email this person when things happen

# used to optionally sync posts to github
github:
  # generate in your user or org settings
  token:

  # set for a webhook that syncs inward.
  # as of 2014-04-06, needs to be set via API (can't be done in-browser)
  webhook_secret:

  # e.g. https://github.com/konklone/writing/blob/master/blog
  default_prefix:

rakismet:
  host: rest.akismet.com
  url: # http://yourdomain.com
  key: # api key

# outgoing email details
email:
  from: # authorized email address
  via: smtp
  via_options:
    address:
    port:
    user_name:
    password:
    # authentication: plain
    # domain:
    enable_starttls_auto: true

mongoid:
  development:
    sessions:
      default:
        database: konklone
        hosts:
          - "localhost:27017"
        options:
          safe: true
    options:
      raise_not_found_error: false

  production:
    sessions:
      default:
        database: konklone
        hosts:
          - "localhost:27017"
        options:
          safe: true
    options:
      raise_not_found_error: false

# Optional: fill in webfinger details. Webfinger is an HTTPS-only feature, this will not
# meet spec unless your website is run under HTTPS.
webfinger:
- acct: name@domain.com
  properties:
    # name:
    # website:
  links:
    website: http://localhost:8080