<section class="error">

  <h1>
    <a href="https://twitter.com/DanaDanger/status/183316183494311936" target="_blank">
      500
    </a>
    <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1" target="_blank">
      Error???
    </a>
  </h1>

  <p>
    AAaaghhh everything crashed I'm looking into it I'm sorry!!!
  </p>
</section>