<article class="home">

  <p>
    <figure>
      <img src="/images/blue-wide-650.png" />
      <figcaption>selfie circa 1930</figcaption>
    </figure>
  </p>

  <p>
    Email me at <a class="email" href="mailto:eric@konklone.com">eric@konklone.com</a> (I have a <a class="key" rel="pgpkey" href="/key.asc">PGP key</a>!), or find me on Twitter at <a class="twitter" rel="me" href="https://twitter.com/konklone">@konklone</a>.
  </p>

  <p>
    I currently work for <a href="https://18f.gsa.gov">a growing technology team called 18F</a> that builds <a href="https://github.com/18F/open-source-policy">open</a>, <a href="https://github.com/18F/ssl-standards">secure</a> technology inside the US federal government. Before that, I spent 5 years with the <a href="https://sunlightfoundation.com/">Sunlight Foundation</a> working on <a href="https://sunlightlabs.github.io/congress/">open data</a> <a href="https://scout.sunlightfoundation.com/">infrastructure</a> and <a href="http://theunitedstates.io/licensing/">policy</a>.
  </p>

</article>
