
<!-- <div class="pure-u-1-5"></div> -->

<!-- <article class="home pure-g pure-u-3-5"> -->
<article class="home pure-g">

  <div class="sidebar pure-u-1-4">
    <div class="inner">
      <figure>
        <img src="/images/eric-mill-headshot.jpg" />
      </figure>

      <ul class="links pure-g">
        <li class="pure-u-1 pure-u-md-1-2"><a href="/blog">Blog</a></li>
        <li class="pure-u-1 pure-u-md-1-2"><a href="/resume">Résumé</a></li>
        <li class="pure-u-1 pure-u-md-1-2"><a href="mailto:eric@konklone.com">Email</a></li>
        <li class="pure-u-1 pure-u-md-1-2"><a href="https://twitter.com/konklone">Twitter</a></li>
        <!-- <li class="pure-u-1-2"><a href="https://github.com/konklone">Software</a></li> -->
      </ul>
    </div>
  </div>

  <div class="main pure-u-3-4">

    <p class="me">
      <strong>Eric Mill</strong> is a leader and technology expert in Washington, DC, making better public services and smarter policy.
    </p>

    <p>
      As part of <a href="https://www.gsa.gov">the U.S. General Services Administration</a> and its <a href="https://18f.gsa.gov">18F</a> team, Eric has led government-wide initiatives to improve public technology, cybersecurity, and online privacy. Eric currently oversees <a href="https://www.login.gov">Login.gov</a>, a government-wide service offering secure, private authentication to millions of people accessing public services.
    </p>

    <p>
      Eric previously worked for the <a href="https://www.sunlightfoundation.com">Sunlight Foundation</a> on improving government transparency, as a software engineer and policy advocate. Eric built digital services to help the public follow government activity, advised Congress on its open data practices, and assisted anti-corruption NGOs abroad as a technology expert.
    </p>

    <p>
      <!-- [ non-work efforts ] -->
    </p>

    <!-- [some projects I'm proud of] -->

  </div>

</article>

<!-- <div class="pure-u-1-5"></div> -->
