<article class="home">

  <p>
    <figure>
      <img src="/images/blue-wide-650.png" />
      <figcaption>selfie circa 1930</figcaption>
    </figure>
  </p>

  <p>
    This is the <strong>internet home</strong> of Eric Mill, <strong>internet person</strong>. I care frequently. Currently, I work at <strong><a href="https://18f.gsa.gov">18F</a></strong>, a <a href="https://18f.gsa.gov/2015/02/25/We-Are-Hiring/">growing</a> technology and services team inside the US federal government.
  </p>

  <p>
    Before that, I spent 5 years with the <a href="https://sunlightfoundation.com/">Sunlight Foundation</a> working on <a href="https://sunlightlabs.github.io/congress/">open data</a> <a href="https://scout.sunlightfoundation.com/">infrastructure</a> and <a href="https://theunitedstates.io/licensing/">policy</a>.
  </p>

  <p>
    You can contact me at <a class="email" href="mailto:eric@konklone.com">eric@konklone.com</a> (<a class="key" rel="pgpkey" href="/key.asc">PGP</a>), or find me on Twitter at <a class="twitter" rel="me" href="https://twitter.com/konklone">@konklone</a>. I also have a <a href="/blog">blog</a>.
  </p>

</article>
