
<article class="home pure-g">

  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="inner">
      <figure class="pure-u-1-3 pure-u-md-1">
        <img src="/images/eric-mill-headshot.jpg" />
      </figure>

      <ul class="links pure-g pure-u-3-5 pure-u-md-1">
        <li class="pure-u-10-24"><a href="/blog">Blog</a></li>
        <li class="pure-u-10-24"><a href="/resume">Résumé</a></li>
        <li class="pure-u-10-24"><a href="mailto:eric@konklone.com">Email</a></li>
        <li class="pure-u-10-24"><a href="https://twitter.com/konklone">Twitter</a></li>
        <!-- <li class="pure-u-1-2"><a href="https://github.com/konklone">Software</a></li> -->
      </ul>
    </div>
  </div>

  <div class="main pure-u-1 pure-u-md-3-4">

    <p class="me">
      <strong>Eric Mill</strong> is a leader in technology policy and cybersecurity, with a long background in public service.
    </p>

    <p>
      Eric is currently the Lead Product Manager for the security of the <strong><a href="https://www.google.com/chrome/">Chrome web browser at Google</a></strong>.
    </p>

    <p>
      In 2019, Eric worked for <strong><a href="https://www.klobuchar.senate.gov/">Senator Amy Klobuchar</a></strong> through the <a href="https://www.techcongress.io/congressional-innovation-fellows">TechCongress program</a>, with a focus on election security, <a href="https://www.cyberscoop.com/klobuchar-voting-vendors-election-security/">vulnerability disclosure</a>, and management of the <a href="https://home.dotgov.gov">.gov internet domain</a>.
    </p>

    <p>
      Before that, Eric served in the <strong><a href="https://18f.gsa.gov">18F</a></strong> team at the <strong><a href="https://www.gsa.gov">U.S. General Services Administration</a></strong>, where he led the federal government's adoption of <a href="https://https.cio.gov">strong encryption</a> for its online services. While at GSA, Eric oversaw <a href="https://www.login.gov">Login.gov</a>, which lets millions of people sign into U.S. public services securely and privately.
    </p>

    <p>
      Prior to 18F, Eric was a part of the <strong><a href="https://www.sunlightfoundation.com">Sunlight Foundation</a></strong>, a civil society group dedicated to government transparency. At Sunlight, Eric created open data services that <a href="https://sunlightfoundation.com/2012/06/11/scout-sunlights-new-custom-alert-service/">helped the public follow government activity</a>, advised Congress on its open data strategy, and provided expert guidance to anti-corruption NGOs around the world.
    </p>

    <h4>Some of my work:</h4>

    <section class="projects pure-g">

      <ul class="pure-u-1 pure-u-md-1-2">
        <li>
          Led the effort to require strong encryption (HTTPS) across U.S. government web services, by authoring <a href="https://https.cio.gov">federal policy</a> and <a href="https://www.cio.gov/2017/01/19/automatic-https.html">partnering with web browsers</a> to secure .gov domains.
        </li>
        <li>
          Created a public <a href="https://hackerone.com/tts">bug bounty</a> and <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">vulnerability disclosure policy</a> for GSA's Technology Transformation Services and 18F &mdash; the first in a civilian US government agency.
        </li>
      </ul>
      <ul class="pure-u-1 pure-u-md-1-2">
        <li>
          Helped accelerate the internet-wide removal of the insecure SHA-1 algorithm for certificate signing, through <a href="https://konklone.com/post/why-google-is-hurrying-the-web-to-kill-sha-1">approachable writing</a> and useful <a href="https://shaaaaaaaaaaaaa.com">technical tools</a>.
        </li>
        <li>
          Created <a href="https://isitchristmas.com">isitchristmas.com</a>, an inexplicably popular service for determining Christmas where millions of people <a href="https://konklone.com/post/isitchristmas-dot-com-2013-more-and-better">interact with each other</a> and <a href="https://ifttt.com/isitchristmas">manipulate Christmas lights</a>.
        </li>
      </ul>

    </section>

  </div>

</article>
