<article class="home">

  <p>
    <a href="https://twitter.com/konklone" target="_blank">
      <figure>
        <img src="/images/blue-wide-650.png" />
      </figure>
    </a>
  </p>

  <p>
    This is the internet home of <strong><a href="https://twitter.com/konklone">Eric Mill</a></strong>. I'm currently Senior Advisor at the <a href="http://gsa.gov/tts">U.S. General Services Administration's Technology Transformation Service</a>, where I help guide our office's strategy and impact on government policy.
  </p>
  <p>
    Our office includes <a href="https://18f.gsa.gov">18F</a>, an in-house team that helps the US government design, build, and buy modern technology.
  </p>
  <p>
    Before GSA, I spent 5 years with the <a href="https://sunlightfoundation.com/">Sunlight Foundation</a>, working on <a href="https://sunlightlabs.github.io/congress/">open data</a> <a href="https://scout.sunlightfoundation.com/">infrastructure</a> and <a href="https://theunitedstates.io/licensing/">policy</a>. In my personal time, I continue to work on <a href="https://oversight.garden">improving government oversight</a>, and help organize <a href="http://dc.opendataday.org">Open Data Day DC</a>.
  </p>

  <p>
    You can contact me at <a class="email" href="mailto:eric@konklone.com">eric@konklone.com</a> (<a class="key" rel="pgpkey" href="/key.asc">PGP</a>), or find me on Twitter at <a class="twitter" rel="me" href="https://twitter.com/konklone">@konklone</a>. I also have a <a href="/blog">blog</a>.
  </p>

</article>
