
<article class="home pure-g">

  <div class="sidebar pure-u-1-4">
    <div class="inner">
      <figure>
        <img src="/images/blue-square.png" />
      </figure>

      <ul class="links">
        <li>Twitter</li>
        <li>Blog</li>
        <li>Email</li>
        <li>Résumé</li>
        <li>Software</li>
      </ul>
    </div>
  </div>

  <div class="main pure-u-3-4">

    <p class="me">
      <strong>Eric Mill</strong> is a leader and technology expert based in Washington, DC.
    </p>

    <p>
      Since joining <a href="https://www.gsa.gov">the U.S. General Services Administration</a> and its <a href="https://18f.gsa.gov">18F</a> team, Eric has authored government-wide technology and cybersecurity policy, and has advised White House and GSA officials across multiple administrations. Eric currently oversees <a href="https://www.login.gov">Login.gov</a>, which offers strong authentication to millions of people accessing public government services.
    </p>

    <p>
      Eric previously worked for the <a href="https://www.sunlightfoundation.com">Sunlight Foundation</a> on improving government transparency, as a software engineer and policy advocate. Eric built applications to help the public follow government activity, and advised Congress on its open data practices. Through Sunlight's international efforts, Eric assisted anti-corruption NGOs abroad as a technology expert.
    </p>

  </div>

</article>
