<article class="home">

  <p>
    <figure>
      <img src="/images/blue-wide-650.png" />
      <figcaption>selfie circa 1930</figcaption>
    </figure>
  </p>

  <p>
    This is the internet home of <strong><a href="https://twitter.com/konklone">Eric Mill</a></strong>. I currently work at <a href="https://18f.gsa.gov">18F</a>, a growing <a href="https://18f.gsa.gov/team/">technology team</a> at the <a href="http://www.gsa.gov">U.S. General Services Administration</a> (GSA) that helps design, build, and buy <a href="https://github.com/18F">open infrastructure</a> for the rest of the federal government.
  </p>
  <p>
    I contribute to 18F as a software engineer and writer, and advise on technology policy and strategy. Before that, I spent 5 years with the <a href="https://sunlightfoundation.com/">Sunlight Foundation</a> working on <a href="https://sunlightlabs.github.io/congress/">open data</a> <a href="https://scout.sunlightfoundation.com/">infrastructure</a> and <a href="https://theunitedstates.io/licensing/">policy</a>.
  </p>

  <p>
    You can contact me at <a class="email" href="mailto:eric@konklone.com">eric@konklone.com</a> (<a class="key" rel="pgpkey" href="/key.asc">PGP</a>), or find me on Twitter at <a class="twitter" rel="me" href="https://twitter.com/konklone">@konklone</a>. I also have a <a href="/blog">blog</a>.
  </p>

</article>
