<section class="projects">

  <article class="project isitchristmas">
    <h1>isitchristmas.com</h1>

    <div class="icon"></div>

    <ul>
      <li>
        I made this as a joke in 10 minutes in 2007. It's still happening.
      </li>
    </ul>

    <ul>
      <li>
        analytics demonstrating irrational behavior in <a href="#">2007</a> <a href="#">2008</a> <a href="#">2009</a> <a href="#">2010</a> <a href="#">2011</a> <a href="#">2012</a>
      </li>
    </ul>

    <ul>
      <li>2012 <a href="#">photos</a>, <a href="#">tech writeup</a></li>
      <li>source code for <a href="#">website</a>, <a href="#">flags</a></li>
    </ul>

  </article>

</section>

<% content_for :foot do %>
  <link rel="stylesheet" href="/css/projects.css?<%= Time.now.to_i %>" />
<% end %>