<section class="projects">

  <article class="project isitchristmas">
    <div class="icon"></div>
    
    <header>
      <h1>isitchristmas.com</h1>
      <span>
        I put this up as a joke in 10 minutes in 2007. It's still happening.
      </span>
    </header>

    <div class="stuff">
      <ul>
        <h2>Related posts</h2>
        <li>a naked tech breakdown grab for Hacker News' attention</li>
        <li>seriously establishing my primacy over others at joke domains</li>
      </ul>

      <ul>
        <h2>Important documents</h2>
        <li>
          Analytics for 2007 2008 2009 2010 2011 2012 2013
        </li>
        <li>
          isitchristmas.com as a PDF
        </li>
      </ul>

      <ul>
        <h2>Vital links</h2>
        <li>
          Flickr set for 2012 mayhem
        </li>
        <li>
          source code for website, flags
        </li>
      </ul>
    </div>
  </article>

</section>

<% content_for :foot do %>
  <link rel="stylesheet" href="/css/projects.css?<%= Time.now.to_i %>" />
<% end %>