<section class="projects">
  <header> <!-- provides a 700px width -->
    <div class="right"> <!-- floats to the right -->
      <nav> <!-- fixes it -->
        <ul class="big">
          <span>Some things I've done, over time.</span>
          <li>
            <a href="#isitchristmas">isitchristmas.com</a>
          </li>
          <li>
            <a href="#unitedstates">github.com/unitedstates</a>
          </li>
          <li>
            <a href="#scout">Scout</a>
          </li>
        </ul>

        <ul class="small">
          <span>and...</span>

          <li>
            <a href="#congress">Congress for Android</a>
          </li>
          <li>
            <a href="#ohnomymoney">Oh No My Money</a> (retired)
          </li>
          <li>
            <a href="#everyone">everyoneishereinthefuture.com</a>
          </li>
        </ul>

      </nav>
    </div>
  </header>

  <article class="project isitchristmas">
    <span class="anchor" id="isitchristmas"></span>

    <h1>
      <!-- <a class="left link" href="#isitchristmas"></a> -->
      <a class="name" target="_blank" href="http://isitchristmas.com">isitchristmas.com</a>
    </h1>

    <a class="icon" target="_blank" href="http://isitchristmas.com"></a>

    <ul class="desc">
      <li>
        Why is this happening?
      </li>
    </ul>

    <ul>
      <li>
        analytics demonstrating increasingly irrational behavior in <a href="http://isitchristmas.com/analytics-2007.pdf">2007</a> <a href="http://isitchristmas.com/analytics-2008.pdf">2008</a> <a href="http://isitchristmas.com/analytics-2009.pdf">2009</a> <a href="http://isitchristmas.com/analytics-2010.pdf">2010</a> <a href="http://isitchristmas.com/analytics-2011.pdf">2011</a> <a href="http://isitchristmas.com/analytics-2012.pdf">2012</a>
      </li>
    </ul>

    <ul>
      <li>2012 <a href="http://www.flickr.com/photos/konklone/sets/72157632388653620/">photos</a>, <a href="http://konklone.com/post/the-making-of-isitchristmas-dot-com-2012">tech writeup</a></li>
      <li>source code for <a href="https://github.com/isitchristmas/web">website</a>, <a href="https://github.com/isitchristmas/sockets">flags</a></li>
    </ul>

  </article>

  <article class="project unitedstates">
    <span class="anchor" id="unitedstates"></span>

    <h1>
      <a class="name" target="_blank" href="https://github.com/unitedstates">github.com/unitedstates</a>
    </h1>

    <a href="https://github.com/unitedstates" target="_blank" class="icon"></a>

    <ul class="desc">
      <li>
        Open collaboration on public domain tools and data about the US government.
      </li>
    </ul>

    <ul>
      <li>
        the <a href="https://github.com/unitedstates/congress">work of Congress</a>
      </li>
      <li>
        the <a href="https://github.com/unitedstates/congress-legislators">people of Congress</a>
      </li>
      <li>
        versatile <a href="https://github.com/unitedstates/citation">legal citation detector</a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="http://radar.oreilly.com/2012/12/the-united-states-code-is-on-github.html">interview</a> with Alex Howard
      </li>
    </ul>

  </article>

  <article class="project scout">
    <span class="anchor" id="scout"></span>

    <h1>
      <a class="name" target="_blank" href="https://scout.sunlightfoundation.com">Scout</a>
    </h1>

    <a href="https://scout.sunlightfoundation.com" target="_blank" class="icon"></a>

    <ul class="desc">
      <li>
        Search engine and email alerts for Congress, the executive branch, and state legislation.
      </li>
    </ul>

    <ul>
      <li>
        built atop a bevy of other <a href="http://openstates.org/">open</a> <a href="https://www.federalregister.gov/">data</a> <a href="http://capitolwords.org/">projects</a>
      </li>
      <li>
        made at the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="http://blog.law.cornell.edu/voxpop/2012/09/30/following-the-law-with-scout/">piece on Scout</a> I wrote for Cornell
      </li>
      <li>
        <a href="http://konklone.com/post/phoenix-has-forced-me-to-come-to-terms-with-myself">talk on Scout</a> I gave to the Arizona ALL
      </li>
    </ul>

  </article>

  <article class="other project">
    <span class="anchor" id="congress"></span>
    <h1>
      <a class="name" target="_blank" href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress">Congress for Android</a>
    </h1>
    <p>
      A live pocket directory for the people and work of Congress, for Android phones. I built it for the <a href="http://sunlightfoundation.com">Sunlight Foundation</a> in 2009 to try my hand at Android development, and over time it's become modestly successful and quite well reviewed.
    </p>
  </article>

  <article class="other project">
    <span class="anchor" id="ohnomymoney"></span>

    <h1>
      <a class="name" target="_blank" href="http://ohnomymoney.com">Oh No My Money</a>
    </h1>

    <p>
      <strong>Retired.</strong> An experiment at violating money taboos by displaying my checking, savings, credit, and loan balances online, from 2008-2010. It even drew sweet graphs of my net worth over time. It was updated automatically every night through <a href="http://wesabe.com">Wesabe</a>, until they shut down. The site did get one piece of coverage before it died: the New York Times Magazine included me in <a href="http://www.nytimes.com/2010/05/16/magazine/16Worth-t.html">a profile of 3 people</a> dealing with their net worth online.
    </p>
  </article>

  <article class="other project">
    <span class="anchor" id="everyone"></span>
    <h1>
      <a class="name" target="_blank" href="http://everyoneishereinthefuture.com/">everyoneishereinthefuture.com</a>
    </h1>

    <p>
    My part in archiving <a href="https://en.wikipedia.org/wiki/Why_the_lucky_stiff">_why's</a> stuff is to preserve a couple of animations, called Everyone is Here in the Future, he made to open his presentations at conferences. They're some of my favorite things.
    </p>
  </article>

</section>

<% content_for :foot do %>
  <link rel="stylesheet" href="/css/projects.css?<%= Time.now.to_i %>" />
<% end %>
