<article class="resume">
  <section class="contact">
    <h1>Eric Mill</h1>

    <ul>
      <li class="mobile"><a href="mailto:eric@konklone.com">eric@konklone.com</a></li>
      <li class="other"><a href="https://konklone.com">konklone.com</a></li>
      <li class="other"><a href="https://twitter.com/konklone">twitter.com/konklone</a></li>
      <li class="other"><a href="https://github.com/konklone">github.com/konklone</a></li>
      <li class="mobile"><a href="tel:16173140966">+1-617-314-0966</a></li>
    </ul>
  </section>

  <section class="summary">
    <p>
      Modernizing government through technology and policy. Experienced leader, engineer, writer, and public speaker.
    </p>
  </section>

  <section class="eighteen-f">
    <h2>
      U.S. General Services Administration
      <span class="date">May 2014 - Present</span>
    </h2>

    <p>
      As <strong>Senior Advisor</strong> for <a href="https://gsa.gov/tts">GSA's Technology Transformation Services</a>, I help guide our office's strategy and our impact on government policy. Our office includes <strong><a href="https://18f.gsa.gov">18F</a></strong>, an in-house team that helps the US government design, build, and buy modern technology.
    </p>

    <table><tr>
      <td class="18f1 left">
        <h4>Projects</h4>
        <ul>
          <li>
            Lead architect and engineer for <a href="https://pulse.cio.gov">Pulse</a>, a monitoring system and dashboard that tracks <a href="https://pulse.cio.gov/https/domains/">HTTPS adoption</a> and other best practices in .gov. Adapted for use by <a href="https://pulse.openstate.eu">several</a> <a href="https://nrkbeta.no/https-norge/">other</a> <a href="https://https.jetzt/">countries</a>.</li>
          </li>

          <li>
            Lead architect and engineer for <a href="https://analytics.usa.gov">analytics.usa.gov</a>, an analytics aggregation system powering a dashboard (and <a href="https://analytics.usa.gov/data/">bulk data</a>) of the US government's web traffic. Adapted for use by <a href="https://github.com/18F/analytics.usa.gov">dozens of cities, states, agencies, and countries</a>.
          </li>

          <li>
            Lead architect and engineer of a <a href="https://github.com/18F/domain-scan">cloud-based scanning system</a> for rapid high-scale measurement of internet services. Used by GSA, <a href="https://18f.gsa.gov/2017/01/06/open-source-collaboration-across-agencies-to-improve-https-deployment/">DHS</a>, and others.
          </li>
        </ul>
      </td><td class="18f2 right">
        <h4>Policy &amp; Writing</h4>
        <ul>
          <li>
            Led the creation of TTS' <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">vulnerability disclosure policy</a> and associated <a href="https://hackerone.com/tts">public bug bounty</a>, the first for a civilian federal agency.
          </li>

          <li>
            Worked with the .Gov DNS to implement a new policy of <a href="https://cio.gov/automatic-https-enforcement-new-executive-branch-gov-domains/">automatic HTTPS enforcement for new executive branch .gov domains</a>.
          </li>

          <li>
            Co-authored <a href="https://github.com/18F/open-source-policy">18F's official open source policy</a>, requiring all built or procured software to be developed in the open.
          </li>

          <li>
            <a href="https://www.nist.gov/sites/default/files/documents/2016/09/23/dc_commission_panelist_and_speaker_statements.pdf#page=24">My written testimony</a> to the president's Commission on Enhancing National Cybersecurity. (<a href="/misc/dc_commission_panelist_and_speaker_statements.pdf#page=24">mirror</a>)
          </li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="sunlight">
    <h2>
      Sunlight Foundation
      <span class="date">February 2009 - May 2014</span>
    </h2>

    <p>
      The <a href="https://sunlightfoundation.com">Sunlight Foundation</a> is a non-partisan non-profit dedicated to increasing government transparency through technology. I was a core <strong>software engineer</strong> on Sunlight's technology team, and a program officer on its international team.
    </p>

    <table><tr class="noprint">
      <td class="sunlight1 left">
        <ul>
          <li>Led development on many public and internal software projects.</li>
          <li>Grew Sunlight's public ecology and community of opem government tools and data.</li>
          <li>Developed strategic partnerships and joint investments with other groups.</li>
        </ul>
      </td><td class="sunlight2 right">
        <ul>
          <li>Represented Sunlight publicly on technology and open government policy.</li>
          <li>Advised governments and NGOs in the US and internationally.</li>
          <li>Participated in international staff exchanges.</li>
        </ul>
      </td>
    </tr><tr>
      <td class="sunlight-projects left">
        <ul>
          <h4>Projects</h4>
          <li>Created and architected <a href="https://web.archive.org/web/20140828060035/https://scout.sunlightfoundation.com/">Scout</a>, a free search engine and email/SMS alert notification system for government activity that served thousands of professionals, activists, and citizens.</li>
          <li>Created and architected the <a href="https://sunlightlabs.github.io/congress/">Sunlight Congress API</a>, a free service that provided live data feeds of Congress' work to thousands of users and applications.</li>
          <li>Created, designed, and architected <a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress">Congress</a>, a native Android app providing live data on the people and work of Congress. This app is used by thousands of professionals and citizens, as well as staff and members of Congress.</li>
        </ul>
      </td><td class="sunlight-writing right">
        <ul>
          <h4>Other Initiatives</h4>
          <li>Architected and organized a volunteer-driven system for automating the <a href="https://sunlightfoundation.com/blog/2014/05/13/why-weve-collected-a-hojillion-inspector-general-reports/"> collection of the work of the US government's oversight community.</a>
          <li>Created <a href="https://github.com/unitedstates">the @unitedstates project</a>, public domain collection of tools and data for the US, built by dozens of contributors.</li>
          <li>Co-authored and organized a sign-on letter and campaign across civil society towards <a href="https://theunitedstates.io/licensing/">releasing open government data to the public domain</a>.</li>
          <li>Developed <a href="https://sunlightfoundation.com/blog/2013/08/20/a-modern-approach-to-open-data/">a partnership</a> with the New York Times and GovTrack to collaborate on releasing government data.
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="before">
    <h3>Prior Roles and Education</h3>

    <ul>
      <li>
        <a href="https://www.thoughtbot.com">thoughtbot, inc.</a> &mdash; 2006-2008 &mdash; Software engineer at a Ruby-based consulting shop.
      </li>
      <li>
        Tenebril, inc. &mdash; 2005-2006 &mdash; Junior researcher and developer at a (now defunct) anti-spyware company.
      </li>
      <li>
        <a href="https://www.wpi.edu">Worcester Polytechnic Institute</a> &mdash; graduated 2005 &mdash; Bachelor's in Computer Science.
      </li>
    </ul>
  </section>

</article>

<% content_for :head do %>
  <link rel="stylesheet" href="/css/resume.css?<%= Time.now.to_i %>" />
<% end %>
