<article class="resume">
  <section class="contact">
    <h1>Eric Mill</h1>

    <ul>
      <li class="mobile"><a href="mailto:eric@konklone.com">eric@konklone.com</a></li>
      <li class="other"><a href="https://konklone.com">konklone.com</a></li>
      <li class="other"><a href="https://twitter.com/konklone">twitter.com/konklone</a></li>
      <li class="other"><a href="https://github.com/konklone">github.com/konklone</a></li>
      <li class="mobile"><a href="tel:16173140966">+1-617-314-0966</a></li>
    </ul>
  </section>

  <section class="summary">
    <p>
      Making government more open and effective through technology and policy for over 8 years. Experienced engineer, writer, and speaker.
    </p>
  </section>

  <section class="eighteen-f">
    <h2>
      U.S. General Services Administration
      <span class="date">May 2014 - Present</span>
    </h2>

    <p>
      As <strong>Senior Advisor</strong> for <a href="https://gsa.gov/tts">GSA's Technology Transformation Service</a>, I help guide our office's strategy and impact on government policy. I work closely with <a href="https://18f.gsa.gov">18F</a>, a technology office that helps the US government design, build, and buy modern infrastructure.
    </p>

    <table><tr>
      <td class="18f1 left">
        <h4>Projects</h4>
        <ul>
          <li>
            The <a href="https://https.cio.gov">HTTPS-Only Standard</a>, supporting the <a href="https://www.whitehouse.gov/sites/default/files/omb/memoranda/2015/m-15-13.pdf">White House's HTTPS-only policy</a> for executive agencies.
          </li>
          <li>
            Our <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">vulnerability disclosure policy</a>, first for a civilian federal agency and the basis of our <a href="https://github.com/18F/tts-buy-bug-bounty#tts-bug-bounty">public bug bounty</a>.
          </li>
          <li>
            <a href="https://pulse.cio.gov/">Pulse</a>, a dashboard tracking <a href="https://pulse.cio.gov/https/domains/">HTTPS adoption</a> and other web best practices in the .gov domain.</li>
          </li>
          <li>
            <a href="https://analytics.usa.gov">analytics.usa.gov</a>, a dashboard (and <a href="https://analytics.usa.gov/data/">dataset</a>) of the US government's web traffic.
          </li>
          <li>
            <a href="https://github.com/18F/open-source-policy">18F's official open source policy</a>, requiring all built or procured software to be developed in the open.
          </li>
        </ul>
      </td><td class="18f2 right">
        <h4>Writing</h4>
        <ul>
          <li>
            <a href="https://www.nist.gov/sites/default/files/documents/2016/09/23/dc_commission_panelist_and_speaker_statements.pdf#page=24">My written testimony</a> to the president's Commission on Enhancing National Cybersecurity. (<a href="/misc/dc_commission_panelist_and_speaker_statements.pdf#page=24">mirror</a>)
          </li>
          <li>
            <a href="https://18f.gsa.gov/2017/01/04/tracking-the-us-governments-progress-on-moving-https/">Tracking the US government's progress on moving to HTTPS</a>, an analysis.
          </li>
          <li>
            <a href="https://github.com/whitehouse/source-code-policy/issues/73">18F's comments to the White House</a> recommending an "open source by default" policy for executive agencies.
          </li>
          <li>
            An announcement of <a href="https://cio.gov/automatic-https-enforcement-new-executive-branch-gov-domains/">automatic HTTPS enforcement for new executive branch .gov domains</a>.
          </li>
          <li>
            <a href="https://18f.gsa.gov/2014/07/31/working-in-public-from-day-1/">
              Working in Public from Day 1
            </a>
          </li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="sunlight">
    <h2>
      Sunlight Foundation
      <span class="date">February 2009 - May 2014</span>
    </h2>

    <p>
      The <a href="https://sunlightfoundation.com">Sunlight Foundation</a> is a non-partisan non-profit dedicated to increasing government transparency through technology. I was a core <strong>software developer</strong> on Sunlight's technology team, and a program officer on its international team.
    </p>

    <table><tr class="noprint">
      <td class="sunlight1 left">
        <ul>
          <li>Led development on many public and internal software projects.</li>
          <li>Grew Sunlight's public ecology and community of opem government tools and data.</li>
          <li>Developed strategic partnerships and joint investments with other groups.</li>
        </ul>
      </td><td class="sunlight2 right">
        <ul>
          <li>Represented Sunlight publicly on technology and open government policy.</li>
          <li>Advised governments and NGOs in the US and internationally.</li>
          <li>Participated in international staff exchanges.</li>
        </ul>
      </td>
    </tr><tr>
      <td class="sunlight-projects left">
        <ul>
          <h4>Main Projects</h4>
          <li><a href="https://github.com/unitedstates">@unitedstates</a>, a public domain collection of tools and data for the US, built by dozens of contributors.</li>
          <li><a href="https://scout.sunlightfoundation.com">Scout</a>, a search and alert engine for government activity.</li>
          <li><a href="https://sunlightlabs.github.io/congress/">Sunlight Congress API</a>, live data feeds of Congress' work.</li>
          <li><a href="http://congress.sunlightfoundation.com/android">Congress for Android</a>, pocket directory and live reference.</li>
        </ul>
      </td><td class="sunlight-writing right">
        <ul>
          <h4>Selected Writing at Sunlight</h4>
          <li>Co-authored a guide to <a href="https://theunitedstates.io/licensing/">making open government data license-free</a>.</li>
          <li><a href="https://sunlightfoundation.com/blog/2013/08/20/a-modern-approach-to-open-data/">A Modern Approach to Open Data</a>
          <li><a href="https://sunlightfoundation.com/blog/2014/05/13/why-weve-collected-a-hojillion-inspector-general-reports/">Why We've Collected a Hojillion Inspector General Reports</a></li>
          <li><a href="https://sunlightfoundation.com/blog/2012/03/21/government-do-you-really-need-an-api/">Government: Do You Really Need an API?</a></li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="work">
    <table><tr>
      <td class="thoughtbot left">
        <h3>
          thoughtbot, inc.
          <span class="date">2006 - 2008</span>
        </h3>
        <p>
          <a href="http://www.thoughtbot.com/">thoughtbot</a> is a web development consultancy that, during my tenure, took on work primarily in Ruby and Rails.
        </p>
        <p>
          I was a <strong>web developer</strong> for various clients, spoke at meetups and industry events, and wrote for <a href="http://robots.thoughtbot.com/">thoughtbot's blog</a>.
        </p>
      </td>

      <td class="bsd right">
        <h3>
          Blue State Digital
          <span class="date">Aug 2008 - Nov 2008</span>
        </h3>
        <p>
          <a href="https://www.bluestatedigital.com">Blue State Digital</a> is a tech consultancy for campaigns.
        </p>
        <p>
          I worked as a <strong>web developer</strong> for the 2008 Obama presidential campaign, contributing code to various pieces of barackobama.com.
        </p>
      </td>
    </tr></table>
  </section>

  <section class="before">
    <h3>Before That</h3>

    <ul>
      <li>
        Tenebril, inc. &mdash; 2005-2006 &mdash; Junior researcher and developer at a (now defunct) anti-spyware company.
      </li>
      <li>
        <a href="http://www.wpi.edu/">Worcester Polytechnic Institute</a> &mdash; graduated 2005 &mdash; Bachelor's in Computer Science.
      </li>
    </ul>
  </section>

  <section class="personal noprint">
    <h3>Personal Projects</h3>

    <ul>
      <li>
        Made a simple and popular <a href="http://konklone.io/json/">JSON-to-CSV converter</a> to make JSON <a href="https://sunlightfoundation.com/blog/2014/03/11/making-json-as-simple-as-a-spreadsheet/">a little more approachable</a>.
      </li>
      <li>
        Raised awareness about the weaknesses of the SHA-1 algorithm through <a href="https://konklone.com/post/why-google-is-hurrying-the-web-to-kill-sha-1">approachable research</a> and <a href="https://shaaaaaaaaaaaaa.com">developer tools</a>.
      </li>
      <li>
        <a href="https://sunlightfoundation.com/blog/2014/11/07/opengov-voices-opening-up-government-reports-through-teamwork-and-open-data/">Organized volunteers</a> to collect and share the <a href="https://oversight.garden">work of the US government's inspectors general</a>.
      </li>
      <li>
        Co-organized <a href="http://dc.opendataday.org">Open Data Day DC</a> as part of <a href="http://opendataday.org">International Open Data Day</a> in <a href="https://konklone.com/post/open-data-day-dc-2013">2013</a>, <a href="https://konklone.com/post/open-data-day-dc-2014">2014</a>, <a href="https://technical.ly/dc/2015/02/25/open-data-day-dc-2015/">2015</a>, and <a href="https://medium.com/@joshuatauberer/what-happened-at-open-data-day-dc-2016-26fdbf9e40c2#.28gvyfjoj">2016</a>.
      </li>
      <li>
        Turned <a href="https://isitchristmas.com">isitchristmas.com</a> into a <a href="https://konklone.com/post/isitchristmas-dot-com-2012">high-traffic experiment</a> in <a href="https://konklone.com/post/isitchristmas-dot-com-2013-more-and-better">real-time global interaction</a>, and made an <a href="https://ifttt.com/isitchristmas">IFTTT channel</a>.
      </li>
      <li>
        With <a href="https://twitter.com/not_young">Lindsay Young</a>, found and drew renditions of the unlabeled <a href="https://konklone.com/post/the-door-to-the-fisa-court">door to the Foreign Intelligence Surveillance Court</a>.
      </li>
    </ul>
  </section>
</article>

<% content_for :head do %>
  <link rel="stylesheet" href="/css/resume.css?<%= Time.now.to_i %>" />
<% end %>
