<article class="resume">

  <section class="contact">
    <h1>Eric Mill</h1>
    <ul>
      <li class="mobile"><a href="mailto:eric@konklone.com">eric@konklone.com</a></li>
      <li class="other"><a href="https://konklone.com">konklone.com</a></li>
      <li class="other"><a href="https://twitter.com/konklone">twitter.com/konklone</a></li>
      <li class="mobile"><a href="tel:16173140966">+1-617-314-0966</a></li>
    </ul>
  </section>

  <section class="summary">
    <p>
      Leader in technology policy and cybersecurity, with a long background in public service.
    </p>
  </section>

  <section class="techcongress">
    <h2>
      U.S. Senate Committee on Rules and Administration<span class="date">&mdash; Feb 2019 - Dec 2019</span>
    </h2>

    <p class="lead">
      Served as the <strong>Senior Technology Advisor</strong> to ranking member <strong>Sen. Amy Klobuchar</strong> on the Democratic staff of the <strong><a href="https://www.rules.senate.gov">Senate Rules Committee</a></strong>, through the <strong><a href="https://www.techcongress.io">TechCongress</a></strong> program. The Senate Rules committee is the committee of jurisdiction over <strong>federal elections and campaigns</strong>, as well as oversight of the Senate and the legislative branch.
    </p>

    <p class="lead">
       As a senior policy aide, I handled the committee's technology portfolio, with a particular focus on <strong>election security</strong>.
    </p>

    <table><tr>
      <td class="18f1 left">
        <ul>
          <li>
            Developed <strong><a href="https://www.congress.gov/bill/116th-congress/senate-bill/2749/text">bipartisan legislation</a></strong> to strengthen the management of the <a href="https://home.dotgov.gov">the .gov internet domain</a>.
          </li>
          <li>
            Led efforts to create <strong>vulnerability disclosure programs</strong> for election systems. Convened state officials, technology companies, security researchers, and federal agencies to discuss creating safe channels for members of the public to report security issues in election systems.
          </li>
        </ul>
      </td><td class="18f2 right">
        <ul>
          <li>
            Conducted <strong>public and private oversight</strong> of companies and federal agencies involved in administering and securing federal elections.
          </li>
          <li>
            Pressed federal agencies and technology companies to better support state and local election officials in defending against <strong>misinformation campaigns and spearphishing</strong>.
          </li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="eighteen-f">
    <h2>
      U.S. General Services Administration<span class="date">&mdash; May 2014 - December 2018</span>
    </h2>

    <p class="lead">
      Served <a href="https://www.login.gov">Login.gov</a> as its <strong>Authorizing Official</strong> and <strong>Deputy Director</strong> (Mar 2017 - Dec 2018), as <strong>Senior Advisor</strong> for 18F's parent organization, <a href="https://www.gsa.gov/tts">GSA's Technology Transformation Services</a> (Aug 2016 - Aug 2018), and as a <strong>Software Engineer</strong> for <a href="https://18f.gsa.gov">18F</a> (May 2014 - Aug 2016).
    </p>
    <p class="lead">
      In my time with GSA and 18F, I oversaw some of its key programs, led its government-wide technology and policy initiatives, and shaped its overall strategy and cybersecurity posture.
    </p>

    <table><tr>
      <td class="18f1 left">
        <ul>
          <li>
            Co-authored a <strong><a href="https://https.cio.gov">White House policy mandating strong encryption</a></strong> (HTTPS) across all federal web services. Oversaw agency implementation and established <a href="https://pulse.cio.gov">public monitoring</a> of progress, and supported DHS implementation of their own <a href="https://cyber.dhs.gov/bod/18-01/">web security directive</a> in 2017.
          </li>

          <li>
            Overseen and directed <a href="https://www.login.gov">Login.gov</a>, a <strong>single-sign-on for public government services</strong> with over 10 million users. As Authorizing Official, assessed security and privacy risk and approved system operation. As Deputy Director, responsible for the overall program and its product direction, business development, and strategy.
          </li>

          <li>
            Designed and built a <a href="https://github.com/18F/domain-scan">cloud-based scanning system</a> capable of <strong>rapid and high-scale measurement of internet-facing services</strong>. <a href="https://18f.gsa.gov/2017/01/06/open-source-collaboration-across-agencies-to-improve-https-deployment/">Used by the Department of Homeland Security</a>, GSA, and other agencies to improve digital services across the U.S. government.
          </li>

          <!-- <li>
            Led the development of <a href="https://analytics.usa.gov">analytics.usa.gov</a>, a dashboard showing web traffic from millions of users to thousands of U.S. government services. Open source, it has been reused by <a href="https://github.com/18F/analytics.usa.gov#analyticsusagov">dozens of cities, states, agencies, and countries</a>.
          </li> -->
        </ul>
      </td><td class="18f2 right">
        <ul>
          <li>
            Led the creation of 18F's <strong><a href="https://hackerone.com/tts">public bug bounty</a></strong> and <strong><a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">vulnerability disclosure policy</a></strong>, the first in the U.S. government for a civilian agency, in coordination with the Department of Justice and Department of Defense.
          </li>

          <li>
            <strong>Partnered with major web browser companies</strong> to <a href="https://digital.gov/2017/01/19/automatic-https-enforcement-for-new-executive-branch-gov-domains/">automatically enforce encryption for new .gov domains</a> in the executive branch, making .gov the first top-level domain on the Internet to take such an action.
          </li>

          <li>
            Co-authored <strong><a href="https://github.com/18F/open-source-policy">18F's open source and licensing policy</a></strong>, requiring all of 18F's built or procured software to be developed in the open and in the public domain.
          </li>

          <li>
            Testified to the <strong>presidential Commission on Enhancing National Cybersecurity</strong>, presenting  <a href="https://www.nist.gov/sites/default/files/documents/2016/09/23/dc_commission_panelist_and_speaker_statements.pdf#page=24">cybersecurity recommendations</a> as an invited technology expert. (<a href="/misc/eric-mill-testimony-cybercommission-2016-09-19.pdf">mirror</a>)
          </li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="sunlight">
    <h2>
      Sunlight Foundation<span class="date">&mdash; February 2009 - May 2014</span>
    </h2>

    <p class="lead">
      The <a href="https://sunlightfoundation.com">Sunlight Foundation</a> is a non-partisan non-profit dedicated to increasing government transparency through technology. I was a core <strong>software engineer</strong> on Sunlight's technology team, and a <strong>program officer</strong> on its international team.
    </p>

    <table><tr>
      <td class="sunlight-projects left">
        <ul>
          <li>Created the <a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress">"Congress" app for Android</a>, which provides live updates on the people and work of Congress. The app has been used by tens of thousands of professionals and citizens, as well as staff and members of Congress.</li>

          <li>Created the <a href="https://sunlightlabs.github.io/congress/">Sunlight Congress API</a>, a free service that provided live data feeds of Congress' work to thousands of users and applications.</li>

          <li>Created <a href="https://web.archive.org/web/20140828060035/https://scout.sunlightfoundation.com/">Scout</a>, a free search engine and alert notification system for government activity from all branches of government, that served thousands of users.</li>
        </ul>
      </td><td class="sunlight-writing right">
        <ul>
          <li>Co-authored a civil society campaign dedicated to <a href="https://theunitedstates.io/licensing/">releasing government data and software to the public domain</a> whose <a href="https://github.com/unitedstates/licensing/blob/gh-pages/HISTORY.md#impact">recommendations were followed</a> by the White House and various government agencies.</li>

          <li>Represented Sunlight on relevant policy issues to the U.S. government, and developed strategic partnerships with U.S. and international NGOs.</li>

          <li>Created a volunteer-driven system for <a href="https://sunlightfoundation.com/blog/2014/05/13/why-weve-collected-a-hojillion-inspector-general-reports/"> collecting the work of the US government's oversight community</a> and making it searchable to the public.

          <!-- <li>Created <a href="https://github.com/unitedstates">the @unitedstates project</a>, public domain collection of tools and data for the US, built by dozens of contributors.</li> -->
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="before">
    <h3>Prior Roles and Education</h3>

    <ul>
      <li>
        Self-employed &mdash; Nov 2008 - Feb 2009 &mdash; <strong>Freelance consultant</strong> performing software development.
      </li>
      <li>
        <a href="https://www.bluestatedigital.com/">Blue State Digital</a> &mdash; Aug 2008 - Nov 2008 &mdash; <strong>Software Engineer</strong> supporting the Obama 2008 presidential campaign.
      </li>
      <li>
        <a href="https://www.thoughtbot.com">thoughtbot, inc.</a> &mdash; Aug 2006 - Aug 2008 &mdash; <strong>Software Engineer</strong> at a Ruby-based technology consultancy.
      </li>
      <li>
        Tenebril, inc. &mdash; Aug 2005 - Aug 2006 &mdash; <strong>Junior Researcher</strong> at a (now defunct) anti-spyware company.
      </li>
      <li>
        <a href="https://www.wpi.edu">Worcester Polytechnic Institute</a> &mdash; graduated May 2005 &mdash; Bachelor's in Computer Science.
      </li>
    </ul>
  </section>

  <section class="personal">
    <h3>Other Work</h3>

    <table><tr>
      <td class="personal-projects left">
        <ul>
          <li>
            <strong>Accelerated the internet-wide removal of the insecure SHA-1 algorithm</strong> for certificate signing, through <a href="https://konklone.com/post/why-google-is-hurrying-the-web-to-kill-sha-1">approachable writing</a> and <a href="https://shaaaaaaaaaaaaa.com">useful technical tools</a>.
          </li>
          <li>
            Created <a href="https://oversight.garden">oversight.garden</a>, a volunteer-driven website that collects and makes fully searchable the work of the US federal government's <strong>oversight community and inspectors general</strong>.
          </li>
        </ul>
      </td>
      <td class="personal-projects right">
        <ul>
          <li>
            Created <a href="https://isitchristmas.com">isitchristmas.com</a>, an <strong>inexplicably popular service for determining the status of Christmas</strong>, used by millions of people around the world to <a href="https://konklone.com/post/isitchristmas-dot-com-2013-more-and-better">interact with each other</a> and to <a href="https://ifttt.com/isitchristmas">manipulate their Christmas lights</a>.
          </li>
          <li>
            Co-organized <a href="https://medium.com/civic-tech-thoughts-from-joshdata/what-happened-at-open-data-day-dc-2016-26fdbf9e40c2">Open Data Day DC</a>, a local <strong>open data hacking and training event attended by hundreds of people</strong> as part of <a href="http://opendataday.org">International Open Data Day</a>, from 2013-2016.
          </li>
          <!-- <li>
            Created a simple, popular, and privacy-friendly <a href="https://konklone.io/json/">JSON to CSV converter</a> to make JSON <a href="https://sunlightfoundation.com/blog/2014/03/11/making-json-as-simple-as-a-spreadsheet/">a little more approachable</a>.
          </li> -->
        </ul>
      </td>
    </tr></table>
  </section>

</article>

<% content_for :head do %>
  <link rel="stylesheet" href="/css/resume.css?<%= Time.now.to_i %>" />
<% end %>
