<% content_for :head do %>
  <%= "<link rel=\"stylesheet\" href=\"/css/resume.css?#{Time.now.to_i}\" />".html_safe %>
<% end %>

<article class="resume">
  <section class="contact">
    <h1>Eric Mill</h1>

    <ul>
      <li><a href="mailto:eric@konklone.com">eric@konklone.com</a></li>
      <li><a href="http://konklone.com">konklone.com</a></li>
      <li><a href="https://twitter.com/konklone">twitter.com/konklone</a></li>
      <li><a href="https://github.com/konklone">github.com/konklone</a></li>
      <li>617-314-0966</li>
    </ul>
  </section>

  <section class="summary">
    <p>
      Been making things on the web professionally since 2005.&nbsp;&nbsp;Enjoys writing, teaching, and public speaking.&nbsp;&nbsp;Believes in humans over institutions, and creating an Internet that agrees.
    </p>
  </section>

  <section class="sunlight">
    <h2>
      Sunlight Foundation <span class="date">2009 - Present</span>
    </h2>

    <p>
      The <a href="http://sunlightfoundation.com">Sunlight Foundation</a> is a non-partisan non-profit dedicated to increasing government transparency through technology. I am a core software developer on Sunlight's technology team, and a program officer in its international team.
    </p>

    <table><tr>
      <td class="sunlight1 left">
        <ul>
          <!-- <h4>Software</h4> -->
          <li>Leading development on many public and internal software projects (some listed below).</li>
          <li>Growing Sunlight's public ecology and community around open government tools and data.</li>
          <li>Developing opportunities for partnerships and joint investment in technology.</li>
        </ul>
      </td><td class="sunlight2 right">
        <ul>
          <!-- <h4>Not Software</h4> -->
          <li>Writing and speaking publicly on Sunlight's behalf on matters of technology and open government policy.</li>
          <li>Advising and advocating with governments and NGOs in the US and internationally.</li>
          <li>Participating in international staff exchanges with likeminded activists and NGOs, as both host and traveler.</li>
        </ul>
      </td>
    </tr><tr>
      <td class="sunlight-projects left">
        <ul>
          <h4>Main Projects</h4>
          <li><a href="https://scout.sunlightfoundation.com">Scout</a>, a search and alert engine for government activity.</li>
          <li><a href="http://sunlightlabs.github.io/congress/">Sunlight Congress API</a>, live data on the work of Congress.</li>
          <li><a href="http://congress.sunlightfoundation.com/android">Congress for Android</a>, a pocket directory and . Downloaded over 400,000 times.</li>
          <li><a href="https://github.com/unitedstates/">github.com/unitedstates</a>, a public domain collection of tools and data for the US with dozens of contributors.</li>
        </ul>
      </td><td class="sunlight-writing right">
        <ul>
          <h4>Selected Writing</h4>
          <li><a href="http://sunlightfoundation.com/blog/2013/03/04/breaking-the-law-by-reading-it/">Breaking the Law, by Reading It</a></li>
          <li><a href="http://sunlightfoundation.com/blog/2012/03/21/government-do-you-really-need-an-api/">Government: Do You Really Need an API?</a></li>
          <li><a href="http://sunlightfoundation.com/blog/2013/02/07/keeping-gpos-data-free/">Keeping GPO's Data Free</a>
          <li><a href="http://sunlightfoundation.com/blog/2013/03/04/open-data-day-dc-2013/">Open Data Day DC, 2013</a>
          <li><a href="http://blog.law.cornell.edu/voxpop/2012/09/30/following-the-law-with-scout/">Following the Law With Scout</a></li>
        </ul>
      </td>
    </tr></table>
  </section>

  <section class="work">
    <table><tr>
      <td class="thoughtbot left">
        <h3>
          thoughtbot, inc. <span class="date">2006 - 2008</span>
        </h3>
        <p>
          <a href="http://www.thoughtbot.com/">thoughtbot</a> is a web development consultancy that, during my tenure, took on work primarily in Ruby and Rails.
        </p>
        <p>
          I developed software for various clients, spoke at meetups and industry events, and wrote for <a href="http://robots.thoughtbot.com/">thoughtbot's blog</a>.
        </p>
      </td>

      <td class="bsd right">
        <h3>
          Blue State Digital <span class="date">Aug 2008 - Nov 2008</span>
        </h3>
        <p>
          <a href="http://bluestatedigital.com">Blue State Digital</a> is a tech consultancy for campaigns.
        </p>
        <p>
          I worked exclusively on the 2008 Obama presidential campaign, contributing code to various high-impact pieces of barackobama.com.
        </p>
      </td>
    </tr></table>
  </section>

  <section class="before">
    <h3>Before That</h3>

    <ul>
      <li>
        Tenebril, inc. &mdash; 2005-2006 &mdash; Junior researcher and developer at a (now-defunct) anti-spyware company.
      </li>
      <li>
        <a href="http://www.wpi.edu/">Worcester Polytechnic Institute</a> &mdash; graduated 2005 &mdash; Bachelor's in Computer Science
      </li>
    </ul>
  </section>

  <section class="personal">
    <h3>Recent Projects</h3>

    <ul>
      <li>
        Co-organized and turned out over 150 people for a <a href="http://opendataday2013dc.eventbrite.com">DC open data hackathon</a> as part of <a href="http://opendataday.org">International Open Data Day</a>.
      </li>
      <li>
        Exploited <a href="http://isitchristmas.com">isitchristmas.com</a> in 2012 by running an experiment in <a href="http://konklone.com/post/isitchristmas-dot-com-2012">real-time global interaction</a> with half a million others.
      </li>
      <li>
        Created <a href="https://twitter.com/fisacourt">@FISACourt</a>, combination bot + human that <a href="http://konklone.com/post/following-the-fisa-court-the-advanced-internet-way">watches the FISA Court public docket</a> using real time alerts.
      </li>
      <li>
        Wrote a <a href="http://konklone.com/post/take-control-of-your-email-address">guide</a> to using an email address with your own domain, now working on adapting it into a physical workshop.
      </li>
    </ul>
  </section>
</article>